<a href="https://colab.research.google.com/github/vk8teen/data_sci_projects/blob/main/LFPR_V1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
## Mounting the google drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
## importing Numpy and Pandas library
import numpy as np
import pandas as pd

In [ ]:
## uploading the data
df_perv1 = pd.read_fwf(r'/content/drive/MyDrive/Colab Notebooks/PERV1.TXT')
df_perv1.head()

,FVP6104Q5V110209022020610210100041101011156,20601 7 6 3121001932216084121,15,3121 9,0,0.1,0 9,07221 9,0.2,0.3,...,03121 9.4,0.12,0.13,0 9.5,03121833,7500,0.14,1,2,17725044
0,FVP6104Q5V110209022020610210100041101022255,20601 5 6 11011136312 021 1,15.0,1101 5,0,0,0 5,01101 4,0,0,...,01101 5,0,0,0 5,1101631,0,1200,1,2,17725044
1,FVP6104Q5V110209022020610210100041101033132,2111114 6 1249231112214011,15.0,124911,0,0,011,0124911,0,0,...,0124911,0,0,011,1249112,0,48000,1,2,17725044
2,FVP6104Q5V110209022020610210100041101044229,211101214120463293 2,NaN,2 793 0,0,0,0 0,093 0,0,0,...,093 0,0,0,0 0,93,0,0,1,2,17725044
3,FVP6104Q5V11020902202061021010004110105612,10101 005 99 2,NaN,99 0,0,0,0 0,099 0,0,0,...,099 0,0,0,0 0,99,0,0,1,2,17725044
4,FVP6104Q5V110209022020610210100041101065129,1080112155 1149231833214011,15.0,114910,0,0,010,0114911,0,0,...,0114911,0,0,011,1149833,0,17000,1,2,17725044

In [ ]:
## Raw data is all coded and no column is specified in the raw data. however, a data of character length and its corresponding column name
## has been provided in an excel sheet named Data_Layout. From the sheet use the appropriate character length and save it is a valriable
## (named e.g here col_specifications_perv1) similiarly save the corresponding column names in other variable (here named Col_names_perv1)

col_specifications_perv1 = [(0,4), (4,7), (7,9), (9,11), (11,12), (12,14), (14,16), (16,19), (19,21), (21,23), (23,24), (24,28), (28,33), (33,34),
(34,35), (35,37), (37,39), (39,40), (40,41), (41,44), (44,45), (45,47), (47,49), (49,51), (51,53), (53,54), (54,55), (55,57), (57,58), (58,59), (59,60),
(60,62), (62,67), (67,70), (70,71), (71,73), (73,75), (75,76), (76,77), (77,78), (78,79), (79,80), (80,82), (82,87), (87,90), (90,92), (92,94), (94,95),
(95,96), (96,97), (97,98), (98,99), (99,100), (100,101), (101,102), (102,103), (103,104), (104,105), (105,107), (107,108), (108,110), (110,112), (112,114),
(114,119), (119,121), (121,123), (123,125), (125,130), (130,132), (132,134),(134,136),(136,138),(138, 140), (140, 145), (145,147), (147, 149), (149, 151), (151,156),
(156,158), (158,160), (160, 162), (162,164), (164,166), (166,171),(171,173), (173,175), (175,177), (177,182), (182,184), (184, 186), (186,188),(188,190), (190,192), (192,197), (197,199), (199,201),
(201,203), (203,208), (208,210), (210,212), (212,214), (214,216), (216,218), (218,223), (223,225), (225,227), (227,229), (229,234), (234, 236), (236, 238), (238,240), (240,242), (242,244), (244,249),
(249,251), (251,253), (253,255), (255,260), (260,262), (262,264),(264,266), (266, 268),(268,270), (270,275), (275,277), (277,279), (279,281), (281,286), (286, 288), (288,290), (290,292), (292, 294), (294, 297),
(297, 305), (305, 313), (313,316), (316,319), (319, 329), (329,330)]


Col_names_perv1 = ['File Identification', 'Schdule','Quarter','Visit', 'Sector', 'Stete/Ut Code', 'District Code', 'NSS-Region', 'Stratum',
'Sub-Stratum', 'Sub-Sample', 'Fod_Sub-Region', 'FSU', 'Sample_Sg/Sb_No', 'Second_stage_Stratum_No', 'Sample_HH_No', 'Person_Serial_No',
'Relationship_to_Head', 'Sex', 'Age', 'Marital_Status', 'General_Education_level', 'Technical_Education_level', 'No_of_years_in_Formal_Education',
'Status_of_current_attendance_in_edu_institution', 'Whether_received_any_vocational/technical_training', 'Whether_training_completed_during_last_365_days',
'Field_of_training', 'Duration_of_training', 'Type_of_training','Source_of_funding_the_training', 'Status_code_princ','Industry_code_princ', 'Occupation_code_princ',
'Whether_engaged_in_any_work_in_sussidiary_capacity', 'Pricipal_work_location_code', 'principal_enterprise_type_code',
'Principal_no_of_workers_in_the_enterprise', 'principal_type_of_job_contract', 'principal_elligible_of_paid_leave',
'principal_social_security_benefits', 'principal_usage_of_product_of_the_economic_activity','Status_code_subs','Industry_code_NIC_subs', 'Occupation_code_NCO_subs',
'Subs_work_location_code', 'Subs_enterprise_type_code','Subs_no_of_workers_in_the_enterprise', 'Subs_type_of_job_contract',
'Subs_elligible_of_paid_leave', 'Subs_social_security_benefits','Subs_usage_of_product_of_the_economic_activity', 'Ever_worked_prior_to_last_365_days',
'Duration_of_engagement_in_the_economic_activity_in_Ususal_principal_activity_statsu', 'Duration_of_engagement_in_the_economic_activity_in_subsidiary_activity_status',
'Efforts_undertaken_to_search_work', 'Duration_of_spell_of_unemployment', 'whther_ever_worked','Reason_for_not_working_in_last_365_days',
'main_reason_for_being_in_principal_activity_status_91-97', 'Status_code_for_activity_1_7th_day', 'Industry_code_NIC_for_activity_1_7th_day',
'Hours_actually_worked_for_activity_1_on_7th_day', 'Wage_earning_for_activity_1_on_7th_day', 'Status_code_for_activity_2_7th_day',
'Industry_code_NIC_for_activity_2_7th_day','hours_actually_worked_for_activity_2_on_7th_day','Wage_earning_for_activity_2_on_7th_day',
'Total_hours_actually_worked_on_7th_day', 'hours_available_for_additional_worked_on_7th_day', 'Status_code_for_activity_1_6th_day',
'Industry_code_NIC_for_activity_1_6th_day', 'Hours_actually_worked_for_activity_1_on_6th_day','Wage_earning_for_activity_1_on_6th_day',
'Status_code_for_activity_2_6th_day', 'Industry_code_NIC_for_activity_2_6th_day','hours_actually_worked_for_activity_2_on_6th_day',
'Wage_earning_for_activity_2_on_6th_day','Total_hours_actually_worked_on_6th_day', 'hours_available_for_additional_worked_on_6th_day',
'Status_code_for_activity_1_5th_day','Industry_code_NIC_for_activity_1_5th_day', 'Hours_actually_worked_for_activity_1_on_5th_day',
'Wage_earning_for_activity_1_on_5th_day', 'Status_code_for_activity_2_5th_day', 'Industry_code_NIC_for_activity_2_5th_day','hours_actually_worked_for_activity_2_on_5th_day',
'Wage_earning_for_activity_2_on_5th_day','Total_hours_actually_worked_on_5th_day', 'hours_available_for_additional_worked_on_5th_day',
'Status_code_for_activity_1_4th_day', 'Industry_code_NIC_for_activity_1_4th_day', 'Hours_actually_worked_for_activity_1_on_4th_day',
'Wage_earning_for_activity_1_on_4th_day', 'Status_code_for_activity_2_4th_day', 'Industry_code_NIC_for_activity_2_4th_day',
'hours_actually_worked_for_activity_2_on_4th_day','Wage_earning_for_activity_2_on_4th_day','Total_hours_actually_worked_on_4th_day',
'hours_available_for_additional_worked_on_4th_day', 'Status_code_for_activity_1_3rd_day','Industry_code_NIC_for_activity_1_3rd_day',
'Hours_actually_worked_for_activity_1_on_3rd_day','Wage_earning_for_activity_1_on_3rd_day', 'Status_code_for_activity_2_3rd_day',
'Industry_code_NIC_for_activity_2_3rd_day','hours_actually_worked_for_activity_2_on_3rd_day', 'Wage_earning_for_activity_2_on_3rd_day',
'Total_hours_actually_worked_on_3rd_day','hours_available_for_additional_worked_on_3rd_day', 'Status_code_for_activity_1_2nd_day',
'Industry_code_NIC_for_activity_1_2nd_day', 'Hours_actually_worked_for_activity_1_on_2nd_day', 'Wage_earning_for_activity_1_on_2nd_day',
'Status_code_for_activity_2_2nd_day', 'Industry_code_NIC_for_activity_2_2nd_day','hours_actually_worked_for_activity_2_on_2nd_day',
'Wage_earning_for_activity_2_on_2nd_day','Total_hours_actually_worked_on_2nd_day', 'hours_available_for_additional_worked_on_2nd_day',
'Status_code_for_activity_1_1st_day', 'Industry_code_NIC_for_activity_1_1st_day', 'Hours_actually_worked_for_activity_1_on_1st_day',
'Wage_earning_for_activity_1_on_1st_day', 'Status_code_for_activity_2_1st_day', 'Industry_code_NIC_for_activity_2_1st_day','hours_actually_worked_for_activity_2_on_1st_day',
'Wage_earning_for_activity_2_on_1st_day','Total_hours_actually_worked_on_1st_day', 'hours_available_for_additional_worked_on_1st_day',
'Current_weekly_status_CWS', 'Industry_code_CWS', 'Occupation_code_CWS', 'Earnings_for_regular_salaried/Wage_activity',
'Earnings_for_self_employed', 'Ns_count_for_sector_x_Statum_x_substratum_x_sub-sample', 'Ns_count_for_sector_x_stratum_x_substratum',
'Sub-sample_wise_multiplier', 'Occurance_of_FSU_in_State_x_Sector_x_Stratum_x_SubStratum_in_4_quarters']

In [ ]:
## separate the columns based on character lengths and corresponding column names saved in variables above
df_perv1 = pd.read_fwf(r'/content/drive/MyDrive/Colab Notebooks/PERV1.TXT', colspecs=col_specifications_perv1, names=Col_names_perv1)
df_perv1.head()

,File Identification,Schdule,Quarter,Visit,Sector,Stete/Ut Code,District Code,NSS-Region,Stratum,Sub-Stratum,...,hours_available_for_additional_worked_on_1st_day,Current_weekly_status_CWS,Industry_code_CWS,Occupation_code_CWS,Earnings_for_regular_salaried/Wage_activity,Earnings_for_self_employed,Ns_count_for_sector_x_Statum_x_substratum_x_sub-sample,Ns_count_for_sector_x_stratum_x_substratum,Sub-sample_wise_multiplier,Occurance_of_FSU_in_State_x_Sector_x_Stratum_x_SubStratum_in_4_quarters
0,FVP6,104,Q5,V1,1,2,9,22,2,6,...,0,31,21.0,833.0,7500,0,1,2,1772504,4
1,FVP6,104,Q5,V1,1,2,9,22,2,6,...,0,11,1.0,631.0,0,1200,1,2,1772504,4
2,FVP6,104,Q5,V1,1,2,9,22,2,6,...,0,12,49.0,112.0,0,48000,1,2,1772504,4
3,FVP6,104,Q5,V1,1,2,9,22,2,6,...,0,93,NaN,NaN,0,0,1,2,1772504,4
4,FVP6,104,Q5,V1,1,2,9,22,2,6,...,0,99,NaN,NaN,0,0,1,2,1772504,4

In [ ]:
## By default the max no. of column shown is 20. to check the no. of columns shown by default
pd.get_option('display.max_columns')
## To change the no. of columns to be displayed. here for example I want to show 30 columns
pd.set_option('display.max_columns', 30)
## To see all column use None in place of specifying any particular no. of column.
pd.set_option('display.max_columns', None)

In [ ]:
df_perv1['Whether_engaged_in_any_work_in_sussidiary_capacity'].unique()

array([2, 1])

In [ ]:
df_perv1.head()

,File Identification,Schdule,Quarter,Visit,Sector,Stete/Ut Code,District Code,NSS-Region,Stratum,Sub-Stratum,Sub-Sample,Fod_Sub-Region,FSU,Sample_Sg/Sb_No,Second_stage_Stratum_No,Sample_HH_No,Person_Serial_No,Relationship_to_Head,Sex,Age,Marital_Status,General_Education_level,Technical_Education_level,No_of_years_in_Formal_Education,Status_of_current_attendance_in_edu_institution,Whether_received_any_vocational/technical_training,Whether_training_completed_during_last_365_days,Field_of_training,Duration_of_training,Type_of_training,Source_of_funding_the_training,Status_code_princ,Industry_code_princ,Occupation_code_princ,Whether_engaged_in_any_work_in_sussidiary_capacity,Pricipal_work_location_code,principal_enterprise_type_code,Principal_no_of_workers_in_the_enterprise,principal_type_of_job_contract,principal_elligible_of_paid_leave,principal_social_security_benefits,principal_usage_of_product_of_the_economic_activity,Status_code_subs,Industry_code_NIC_subs,Occupation_code_NCO_subs,Subs_work_location_code,Subs_enterprise_type_code,Subs_no_of_workers_in_the_enterprise,Subs_type_of_job_contract,Subs_elligible_of_paid_leave,Subs_social_security_benefits,Subs_usage_of_product_of_the_economic_activity,Ever_worked_prior_to_last_365_days,Duration_of_engagement_in_the_economic_activity_in_Ususal_principal_activity_statsu,Duration_of_engagement_in_the_economic_activity_in_subsidiary_activity_status,Efforts_undertaken_to_search_work,Duration_of_spell_of_unemployment,whther_ever_worked,Reason_for_not_working_in_last_365_days,main_reason_for_being_in_principal_activity_status_91-97,Status_code_for_activity_1_7th_day,Industry_code_NIC_for_activity_1_7th_day,Hours_actually_worked_for_activity_1_on_7th_day,Wage_earning_for_activity_1_on_7th_day,Status_code_for_activity_2_7th_day,Industry_code_NIC_for_activity_2_7th_day,hours_actually_worked_for_activity_2_on_7th_day,Wage_earning_for_activity_2_on_7th_day,Total_hours_actually_worked_on_7th_day,hours_available_for_additional_worked_on_7th_day,Status_code_for_activity_1_6th_day,Industry_code_NIC_for_activity_1_6th_day,Hours_actually_worked_for_activity_1_on_6th_day,Wage_earning_for_activity_1_on_6th_day,Status_code_for_activity_2_6th_day,Industry_code_NIC_for_activity_2_6th_day,hours_actually_worked_for_activity_2_on_6th_day,Wage_earning_for_activity_2_on_6th_day,Total_hours_actually_worked_on_6th_day,hours_available_for_additional_worked_on_6th_day,Status_code_for_activity_1_5th_day,Industry_code_NIC_for_activity_1_5th_day,Hours_actually_worked_for_activity_1_on_5th_day,Wage_earning_for_activity_1_on_5th_day,Status_code_for_activity_2_5th_day,Industry_code_NIC_for_activity_2_5th_day,hours_actually_worked_for_activity_2_on_5th_day,Wage_earning_for_activity_2_on_5th_day,Total_hours_actually_worked_on_5th_day,hours_available_for_additional_worked_on_5th_day,Status_code_for_activity_1_4th_day,Industry_code_NIC_for_activity_1_4th_day,Hours_actually_worked_for_activity_1_on_4th_day,Wage_earning_for_activity_1_on_4th_day,Status_code_for_activity_2_4th_day,Industry_code_NIC_for_activity_2_4th_day,hours_actually_worked_for_activity_2_on_4th_day,Wage_earning_for_activity_2_on_4th_day,Total_hours_actually_worked_on_4th_day,hours_available_for_additional_worked_on_4th_day,Status_code_for_activity_1_3rd_day,Industry_code_NIC_for_activity_1_3rd_day,Hours_actually_worked_for_activity_1_on_3rd_day,Wage_earning_for_activity_1_on_3rd_day,Status_code_for_activity_2_3rd_day,Industry_code_NIC_for_activity_2_3rd_day,hours_actually_worked_for_activity_2_on_3rd_day,Wage_earning_for_activity_2_on_3rd_day,Total_hours_actually_worked_on_3rd_day,hours_available_for_additional_worked_on_3rd_day,Status_code_for_activity_1_2nd_day,Industry_code_NIC_for_activity_1_2nd_day,Hours_actually_worked_for_activity_1_on_2nd_day,Wage_earning_for_activity_1_on_2nd_day,Status_code_for_activity_2_2nd_day,Industry_code_NIC_for_activity_2_2nd_day,hours_actually_worked_for_activity_2_on_2nd_day,Wage_earning_for_activity_2_on_2nd_day,Total_hours_actually_worked_on_2nd_day,hours_available_for_additional_worked_on_2nd_day,Status_code_for_activity_1_1st_day,Industry_code_NIC_for_activity_1_1st_day,Hours_actually_worked_for_activity_1_on_1st_day,Wage_earning_for_activity_1_on_1st_day,Status_code_for_activity_2_1st_day,Industry_code_NIC_for_activity_2_1st_day,hours_actually_worked_for_activity_2_on_1st_day,Wage_earning_for_activity_2_on_1st_day,Total_hours_actually_worked_on_1st_day,hours_available_for_additional_worked_on_1st_day,Current_weekly_status_CWS,Industry_code_CWS,Occupation_code_CWS,Earnings_for_regular_salaried/Wage_activity,Earnings_for_self_employed,Ns_count_for_sector_x_Statum_x_substratum_x_sub-sample,Ns_count_for_sector_x_stratum_x_substratum,Sub-sample_wise_multiplier,Occurance_of_FSU_in_State_x_Sector_x_Stratum_x_SubStratum_in_4_quarters
0,FVP6,104,Q5,V1,1,2,9,22,2,6,1,210,10004,1,1,1,1,1,1,56,2,6,1,7,NaN,6.0,NaN,NaN,NaN,NaN,NaN,31,21001.0,932.0,2,16.0,8.0,4.0,1.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,31,21.0,9,0,NaN,NaN,0,0,9,0,72,21.0,9,0,NaN,NaN,0,0,0,0,31,21.0,9,0,NaN,NaN,0,0,9,0,31,21.0,9,0,NaN,NaN,0,0,9,0,31,21.0,9,0,NaN,NaN,0,0,9,0,31,21.0,9,0,NaN,NaN,0,0,9,0,31,21.0,9,0,NaN,NaN,0,0,9,0,31,21.0,833.0,7500,0,1,2,1772504,4
1,FVP6,104,Q5,V1,1,2,9,22,2,6,1,210,10004,1,1,1,2,2,2,55,2,6,1,5,NaN,6.0,NaN,NaN,NaN,NaN,NaN,11,1113.0,631.0,2,NaN,2.0,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,11,1.0,5,0,NaN,NaN,0,0,5,0,11,1.0,4,0,NaN,NaN,0,0,4,0,11,1.0,4,0,NaN,NaN,0,0,4,0,11,1.0,5,0,NaN,NaN,0,0,5,0,11,1.0,5,0,NaN,NaN,0,0,5,0,11,1.0,5,0,NaN,NaN,0,0,5,0,11,1.0,5,0,NaN,NaN,0,0,5,0,11,1.0,631.0,0,1200,1,2,1772504,4
2,FVP6,104,Q5,V1,1,2,9,22,2,6,1,210,10004,1,1,1,3,3,1,32,2,11,11,14,NaN,6.0,NaN,NaN,NaN,NaN,NaN,12,49231.0,112.0,2,14.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,12,49.0,11,0,NaN,NaN,0,0,11,0,12,49.0,11,0,NaN,NaN,0,0,11,0,12,49.0,11,0,NaN,NaN,0,0,11,0,12,49.0,11,0,NaN,NaN,0,0,11,0,12,49.0,11,0,NaN,NaN,0,0,11,0,12,49.0,11,0,NaN,NaN,0,0,11,0,12,49.0,11,0,NaN,NaN,0,0,11,0,12,49.0,112.0,0,48000,1,2,1772504,4
3,FVP6,104,Q5,V1,1,2,9,22,2,6,1,210,10004,1,1,1,4,4,2,29,2,11,10,12,14.0,1.0,2.0,4.0,6.0,3.0,2.0,93,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,7.0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,NaN,0,0,1,2,1772504,4
4,FVP6,104,Q5,V1,1,2,9,22,2,6,1,210,10004,1,1,1,5,6,1,2,1,1,1,0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,99,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99,NaN,0,0,NaN,NaN,0,0,0,0,99,NaN,0,0,NaN,NaN,0,0,0,0,99,NaN,0,0,NaN,NaN,0,0,0,0,99,NaN,0,0,NaN,NaN,0,0,0,0,99,NaN,0,0,NaN,NaN,0,0,0,0,99,NaN,0,0,NaN,NaN,0,0,0,0,99,NaN,0,0,NaN,NaN,0,0,0,0,99,NaN,NaN,0,0,1,2,1772504,4

In [ ]:
df_perv1['Age'].unique()

array([ 56,  55,  32,  29,   2,  77,  51,  45,  19,  25,  22,  36,  16,
        13,  42,  40,  14,  35,  11,  72,  28,  27,   6,   4,  63,  61,
        34,  12,  71,  69,  43,   9,  49,  41,  44,  39,  10,  38,  52,
        65,  48,  20,  23,  66,  15,  67,  31,   7,  24,  50,  21,  18,
        62,  53,   1,   8,  70,  93,  47,  26,  30,   5,   3,  37,  33,
        17,  68,  59,  57,  64,  46,  60,  58,  54,  82,  78,  86,  79,
        73,  85,  75,   0,  74,  90,  80,  81,  76,  83,  95,  97,  87,
        99,  84, 100,  89,  94, 102,  92, 112,  88, 105,  91,  96,  98,
       101, 104, 107])

# **Dataframe with identifiers**
#### Right now we have separated the column based on character length and corresponding column names. But the data in all the columns is still in terms of numbers (e.g. in Sector column, in place of showing Rural and Urban it is showing 1 and 2. The codes for all the required column has been given in the documentation which you can find on the website from where you downloaded the microdata. The name of the document for this particular data from where you can check all the codes is Schedule 104 first visit. Please find the appropriate document to refer based on the data you are operating on). The codes below is an example of how to convert the codes in the column to actual or corresponding name (e.g for Sector column how to display Urban and Rural in place of 1 and 2).

##### ***However, in this analysis the coded data has been used and this section is only for guide and has not been used for the analyis***

In [ ]:
## data has been uploaded again with a different variable name from the previous one. there are other simpler methods to store the same data
## with different variable names. you can also explore those.

df_perv1_identifier = pd.read_fwf(r'/content/drive/MyDrive/Colab Notebooks/PERV1.TXT', colspecs=col_specifications_perv1, names=Col_names_perv1)
df_perv1_identifier.head()

,File Identification,Schdule,Quarter,Visit,Sector,Stete/Ut Code,District Code,NSS-Region,Stratum,Sub-Stratum,...,hours_available_for_additional_worked_on_1st_day,Current_weekly_status_CWS,Industry_code_CWS,Occupation_code_CWS,Earnings_for_regular_salaried/Wage_activity,Earnings_for_self_employed,Ns_count_for_sector_x_Statum_x_substratum_x_sub-sample,Ns_count_for_sector_x_stratum_x_substratum,Sub-sample_wise_multiplier,Occurance_of_FSU_in_State_x_Sector_x_Stratum_x_SubStratum_in_4_quarters
0,FVP6,104,Q5,V1,1,2,9,22,2,6,...,0,31,21.0,833.0,7500,0,1,2,1772504,4
1,FVP6,104,Q5,V1,1,2,9,22,2,6,...,0,11,1.0,631.0,0,1200,1,2,1772504,4
2,FVP6,104,Q5,V1,1,2,9,22,2,6,...,0,12,49.0,112.0,0,48000,1,2,1772504,4
3,FVP6,104,Q5,V1,1,2,9,22,2,6,...,0,93,NaN,NaN,0,0,1,2,1772504,4
4,FVP6,104,Q5,V1,1,2,9,22,2,6,...,0,99,NaN,NaN,0,0,1,2,1772504,4

In [ ]:
pd.set_option('display.max_columns', None)

In [ ]:
df_perv1_identifier.head()

,File Identification,Schdule,Quarter,Visit,Sector,Stete/Ut Code,District Code,NSS-Region,Stratum,Sub-Stratum,Sub-Sample,Fod_Sub-Region,FSU,Sample_Sg/Sb_No,Second_stage_Stratum_No,Sample_HH_No,Person_Serial_No,Relationship_to_Head,Sex,Age,Marital_Status,General_Education_level,Technical_Education_level,No_of_years_in_Formal_Education,Status_of_current_attendance_in_edu_institution,Whether_received_any_vocational/technical_training,Whether_training_completed_during_last_365_days,Field_of_training,Duration_of_training,Type_of_training,Source_of_funding_the_training,Status_code_princ,Industry_code_princ,Occupation_code_princ,Whether_engaged_in_any_work_in_sussidiary_capacity,Pricipal_work_location_code,principal_enterprise_type_code,Principal_no_of_workers_in_the_enterprise,principal_type_of_job_contract,principal_elligible_of_paid_leave,principal_social_security_benefits,principal_usage_of_product_of_the_economic_activity,Status_code_subs,Industry_code_NIC_subs,Occupation_code_NCO_subs,Subs_work_location_code,Subs_enterprise_type_code,Subs_no_of_workers_in_the_enterprise,Subs_type_of_job_contract,Subs_elligible_of_paid_leave,Subs_social_security_benefits,Subs_usage_of_product_of_the_economic_activity,Ever_worked_prior_to_last_365_days,Duration_of_engagement_in_the_economic_activity_in_Ususal_principal_activity_statsu,Duration_of_engagement_in_the_economic_activity_in_subsidiary_activity_status,Efforts_undertaken_to_search_work,Duration_of_spell_of_unemployment,whther_ever_worked,Reason_for_not_working_in_last_365_days,main_reason_for_being_in_principal_activity_status_91-97,Status_code_for_activity_1_7th_day,Industry_code_NIC_for_activity_1_7th_day,Hours_actually_worked_for_activity_1_on_7th_day,Wage_earning_for_activity_1_on_7th_day,Status_code_for_activity_2_7th_day,Industry_code_NIC_for_activity_2_7th_day,hours_actually_worked_for_activity_2_on_7th_day,Wage_earning_for_activity_2_on_7th_day,Total_hours_actually_worked_on_7th_day,hours_available_for_additional_worked_on_7th_day,Status_code_for_activity_1_6th_day,Industry_code_NIC_for_activity_1_6th_day,Hours_actually_worked_for_activity_1_on_6th_day,Wage_earning_for_activity_1_on_6th_day,Status_code_for_activity_2_6th_day,Industry_code_NIC_for_activity_2_6th_day,hours_actually_worked_for_activity_2_on_6th_day,Wage_earning_for_activity_2_on_6th_day,Total_hours_actually_worked_on_6th_day,hours_available_for_additional_worked_on_6th_day,Status_code_for_activity_1_5th_day,Industry_code_NIC_for_activity_1_5th_day,Hours_actually_worked_for_activity_1_on_5th_day,Wage_earning_for_activity_1_on_5th_day,Status_code_for_activity_2_5th_day,Industry_code_NIC_for_activity_2_5th_day,hours_actually_worked_for_activity_2_on_5th_day,Wage_earning_for_activity_2_on_5th_day,Total_hours_actually_worked_on_5th_day,hours_available_for_additional_worked_on_5th_day,Status_code_for_activity_1_4th_day,Industry_code_NIC_for_activity_1_4th_day,Hours_actually_worked_for_activity_1_on_4th_day,Wage_earning_for_activity_1_on_4th_day,Status_code_for_activity_2_4th_day,Industry_code_NIC_for_activity_2_4th_day,hours_actually_worked_for_activity_2_on_4th_day,Wage_earning_for_activity_2_on_4th_day,Total_hours_actually_worked_on_4th_day,hours_available_for_additional_worked_on_4th_day,Status_code_for_activity_1_3rd_day,Industry_code_NIC_for_activity_1_3rd_day,Hours_actually_worked_for_activity_1_on_3rd_day,Wage_earning_for_activity_1_on_3rd_day,Status_code_for_activity_2_3rd_day,Industry_code_NIC_for_activity_2_3rd_day,hours_actually_worked_for_activity_2_on_3rd_day,Wage_earning_for_activity_2_on_3rd_day,Total_hours_actually_worked_on_3rd_day,hours_available_for_additional_worked_on_3rd_day,Status_code_for_activity_1_2nd_day,Industry_code_NIC_for_activity_1_2nd_day,Hours_actually_worked_for_activity_1_on_2nd_day,Wage_earning_for_activity_1_on_2nd_day,Status_code_for_activity_2_2nd_day,Industry_code_NIC_for_activity_2_2nd_day,hours_actually_worked_for_activity_2_on_2nd_day,Wage_earning_for_activity_2_on_2nd_day,Total_hours_actually_worked_on_2nd_day,hours_available_for_additional_worked_on_2nd_day,Status_code_for_activity_1_1st_day,Industry_code_NIC_for_activity_1_1st_day,Hours_actually_worked_for_activity_1_on_1st_day,Wage_earning_for_activity_1_on_1st_day,Status_code_for_activity_2_1st_day,Industry_code_NIC_for_activity_2_1st_day,hours_actually_worked_for_activity_2_on_1st_day,Wage_earning_for_activity_2_on_1st_day,Total_hours_actually_worked_on_1st_day,hours_available_for_additional_worked_on_1st_day,Current_weekly_status_CWS,Industry_code_CWS,Occupation_code_CWS,Earnings_for_regular_salaried/Wage_activity,Earnings_for_self_employed,Ns_count_for_sector_x_Statum_x_substratum_x_sub-sample,Ns_count_for_sector_x_stratum_x_substratum,Sub-sample_wise_multiplier,Occurance_of_FSU_in_State_x_Sector_x_Stratum_x_SubStratum_in_4_quarters
0,FVP6,104,Q5,V1,1,2,9,22,2,6,1,210,10004,1,1,1,1,1,1,56,2,6,1,7,NaN,6.0,NaN,NaN,NaN,NaN,NaN,31,21001.0,932.0,2,16.0,8.0,4.0,1.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,31,21.0,9,0,NaN,NaN,0,0,9,0,72,21.0,9,0,NaN,NaN,0,0,0,0,31,21.0,9,0,NaN,NaN,0,0,9,0,31,21.0,9,0,NaN,NaN,0,0,9,0,31,21.0,9,0,NaN,NaN,0,0,9,0,31,21.0,9,0,NaN,NaN,0,0,9,0,31,21.0,9,0,NaN,NaN,0,0,9,0,31,21.0,833.0,7500,0,1,2,1772504,4
1,FVP6,104,Q5,V1,1,2,9,22,2,6,1,210,10004,1,1,1,2,2,2,55,2,6,1,5,NaN,6.0,NaN,NaN,NaN,NaN,NaN,11,1113.0,631.0,2,NaN,2.0,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,11,1.0,5,0,NaN,NaN,0,0,5,0,11,1.0,4,0,NaN,NaN,0,0,4,0,11,1.0,4,0,NaN,NaN,0,0,4,0,11,1.0,5,0,NaN,NaN,0,0,5,0,11,1.0,5,0,NaN,NaN,0,0,5,0,11,1.0,5,0,NaN,NaN,0,0,5,0,11,1.0,5,0,NaN,NaN,0,0,5,0,11,1.0,631.0,0,1200,1,2,1772504,4
2,FVP6,104,Q5,V1,1,2,9,22,2,6,1,210,10004,1,1,1,3,3,1,32,2,11,11,14,NaN,6.0,NaN,NaN,NaN,NaN,NaN,12,49231.0,112.0,2,14.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,12,49.0,11,0,NaN,NaN,0,0,11,0,12,49.0,11,0,NaN,NaN,0,0,11,0,12,49.0,11,0,NaN,NaN,0,0,11,0,12,49.0,11,0,NaN,NaN,0,0,11,0,12,49.0,11,0,NaN,NaN,0,0,11,0,12,49.0,11,0,NaN,NaN,0,0,11,0,12,49.0,11,0,NaN,NaN,0,0,11,0,12,49.0,112.0,0,48000,1,2,1772504,4
3,FVP6,104,Q5,V1,1,2,9,22,2,6,1,210,10004,1,1,1,4,4,2,29,2,11,10,12,14.0,1.0,2.0,4.0,6.0,3.0,2.0,93,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,7.0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,NaN,0,0,1,2,1772504,4
4,FVP6,104,Q5,V1,1,2,9,22,2,6,1,210,10004,1,1,1,5,6,1,2,1,1,1,0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,99,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99,NaN,0,0,NaN,NaN,0,0,0,0,99,NaN,0,0,NaN,NaN,0,0,0,0,99,NaN,0,0,NaN,NaN,0,0,0,0,99,NaN,0,0,NaN,NaN,0,0,0,0,99,NaN,0,0,NaN,NaN,0,0,0,0,99,NaN,0,0,NaN,NaN,0,0,0,0,99,NaN,0,0,NaN,NaN,0,0,0,0,99,NaN,NaN,0,0,1,2,1772504,4

In [ ]:
## This block of code store a key value pair (dictionary format) of the codes for particular columns in the assigned variable.
## These variables will be used to replace the codes in columns.
Sector = {'1': 'rural', '2': 'urban'}
State_UT_Code = {'1': 'Jammu & Kashmir', '2': 'Himachal Pradesh', '3': 'Punjab', '4': 'Chandigarh', '5': 'Uttarakhand', '6': 'Haryana',
                 '7': 'Delhi','8': 'Rajasthan', '9': 'Uttar Pradesh', '10': 'Bihar', '11': 'Sikkim', '12': 'Arunachal Pradesh','13': 'Nagaland',
                 '14': 'Manipur', '15': 'Mizoram', '16': 'Tripura', '17': 'Meghalaya', '18': 'Assam', '19': 'West Bengal', '20': 'Jharkhand',
                 '21': 'Odisha', '22': 'Chhattisgarh', '23': 'Madhya Pradesh', '24': 'Gujarat', '25': 'D & N. Haveli & Daman & Diu','27': 'Maharashtra',
                 '28': 'Andhra Pradesh', '29': 'Karnataka', '30': 'Goa','31': 'Lakshadweep', '32': 'Kerala', '33': 'Tamilnadu', '34': 'Puduchery',
                 '35': 'Andaman & N. Island','36': 'Telangana', '37': 'Ladakh'}
Marital_Status = {'1': 'Never_Married', '2': 'Currently_married', '3': 'Widowed', '4': 'Divorced/Separated'}
status_US_PS = {'11': 'worked in hh. enterprise (self-employed): own account worker', '12': 'worked in hh. enterprise (self-employed): employer', '21': 'worked as helper in h.h. enterprise (unpaid family worker)', '31': 'worked as regular salaried/ wage employee', '41': 'worked as casual wage labour: in public works other than MGNREG', '51': 'Worked as casual wage labour in other types of	work', '81': 'did not work but was seeking and/or available for work', '91': 'attended educational institution', '92': 'attended domestic duties only', '93': 'attended domestic duties and was also engaged in free collection of goods (vegetables, roots, firewood, cattle feed, etc.), sewing, tailoring, weaving, etc. for household use', '94':'rentiers, pensioners , remittance recipients, etc.', '95': 'not able to work due to disability', '97': 'others (including begging, prostitution,  etc.)'}
status_US_SS = {'11.0': 'worked in hh. enterprise (self-employed): own account worker', '12.0': 'worked in hh. enterprise (self-employed): employer', '21.0': 'worked as helper in h.h. enterprise (unpaid family worker)', '31.0': 'worked as regular salaried/ wage employee', '41.0': 'worked as casual wage labour: in public works other than MGNREG', '51.0': 'Worked as casual wage labour in other types of	work', '81.0': 'did not work but was seeking and/or available for work', '91.0': 'attended educational institution', '92.0': 'attended domestic duties only', '93.0': 'attended domestic duties and was also engaged in free collection of goods (vegetables, roots, firewood, cattle feed, etc.), sewing, tailoring, weaving, etc. for household use', '94.0':'rentiers, pensioners , remittance recipients, etc.', '95.0': 'not able to work due to disability', '97.0': 'others (including begging, prostitution,  etc.)'}
Status_CWS = {'11': 'worked in hh. enterprise (self-employed): own account worker', '12': 'worked in hh. enterprise (self-employed): employer', '21': 'worked as helper in h.h. enterprise (unpaid family worker)', '31': 'worked as regular salaried/ wage employee', '41': 'worked as casual wage labour: in public works other than MGNREG', '42': 'Worked as casual wage labour in MGNREG works','51': 'Worked as casual wage labour in other types of	work', '61':'had work in hh entreprise but did not work due to: sickness' , '62': 'had work in hh entreprise but did not work due to: other reasons', '71': 'had regular salaried/wage employment but did not work due to: sickness', '72': 'had regular salaried/wage employment but did not work due to: other reasons', '81': 'Sought work', '82': 'did not seek but was available for work', '91': 'attended educational institution', '92': 'attended domestic duties only', '93': 'attended domestic duties and was also engaged in free collection of goods (vegetables, roots, firewood, cattle feed, etc.), sewing, tailoring, weaving, etc. for household use', '94':'rentiers, pensioners , remittance recipients, etc.', '95': 'not able to work due to disability', '97': 'others (including begging, prostitution,  etc.)', '98':'did not work due to sickness(for casual workers only)' }
sex = {'1': 'Male', '2': 'Female', '3': 'transgender'}

In [ ]:
# This block of code conver the data type of the column into string. This is done because data in some of the columns mmay be in integer format
# However, we have stored the key value (code) as string in the previous code block. So to match the datatype of the vaules in the column to our
# key as in previous code block, we have to convert all the required columns as a string.
df_perv1_identifier['Sector'] = df_perv1_identifier['Sector'].astype(str)
df_perv1_identifier['Stete/Ut Code'] = df_perv1_identifier['Stete/Ut Code'].astype(str)
df_perv1_identifier['Marital_Status'] = df_perv1_identifier['Marital_Status'].astype(str)
df_perv1_identifier['Status_code_princ'] = df_perv1_identifier['Status_code_princ'].astype(str)
df_perv1_identifier['Status_code_subs'] = df_perv1_identifier['Status_code_subs'].astype(str)
df_perv1_identifier['Current_weekly_status_CWS'] = df_perv1_identifier['Current_weekly_status_CWS'].astype(str)
df_perv1_identifier['Sex'] = df_perv1_identifier['Sex'].astype(str)

In [ ]:
df_perv1_identifier['Status_code_subs'].unique()

array(['nan', '31.0', '11.0', '12.0', '21.0', '41.0', '51.0'],
      dtype=object)

In [ ]:
## This code block replaces the coded values of columns to it actual value. to do so it uses inbuilt map function.

df_perv1_identifier['Sector'] = df_perv1_identifier['Sector'].map(Sector)
df_perv1_identifier['Stete/Ut Code'] = df_perv1_identifier['Stete/Ut Code'].map(State_UT_Code)
df_perv1_identifier['Marital_Status'] = df_perv1_identifier['Marital_Status'].map(Marital_Status)
df_perv1_identifier['Status_code_princ'] = df_perv1_identifier['Status_code_princ'].map(status_US_PS)
df_perv1_identifier['Status_code_subs'] = df_perv1_identifier['Status_code_subs'].map(status_US_SS)
df_perv1_identifier['Current_weekly_status_CWS'] = df_perv1_identifier['Current_weekly_status_CWS'].map(Status_CWS)
df_perv1_identifier['Sex'] = df_perv1_identifier['Sex'].map(sex)

In [ ]:
# to ckeck the no. of rows an dcolumn in the dataset.
df_perv1_identifier.shape

(419512, 139)

In [ ]:
# to check the uniques values in a column.
df_perv1_identifier['Sector'].unique()

array(['rural', 'urban'], dtype=object)

In [ ]:
df_perv1_identifier['Stete/Ut Code'].unique()

array(['Himachal Pradesh', 'Karnataka', 'Maharashtra', 'Delhi',
       'Nagaland', 'Chhattisgarh', 'Madhya Pradesh', 'West Bengal',
       'Kerala', 'Assam', 'Goa', 'Manipur', 'Uttarakhand', 'Odisha',
       'Andhra Pradesh', 'Tripura', 'Uttar Pradesh', 'Telangana',
       'Tamilnadu', 'Punjab', 'Jammu & Kashmir', 'Rajasthan', 'Haryana',
       'Bihar', 'Mizoram', 'Meghalaya', 'Gujarat', 'Arunachal Pradesh',
       'Sikkim', 'Jharkhand', 'Puduchery', 'Ladakh',
       'Andaman & N. Island', 'Lakshadweep',
       'D & N. Haveli & Daman & Diu', 'Chandigarh'], dtype=object)

In [ ]:
df_perv1_identifier['Stete/Ut Code'].unique()

array(['Himachal Pradesh', 'Karnataka', 'Maharashtra', 'Delhi',
       'Nagaland', 'Chhattisgarh', 'Madhya Pradesh', 'West Bengal',
       'Kerala', 'Assam', 'Goa', 'Manipur', 'Uttarakhand', 'Odisha',
       'Andhra Pradesh', 'Tripura', 'Uttar Pradesh', 'Telangana',
       'Tamilnadu', 'Punjab', 'Jammu & Kashmir', 'Rajasthan', 'Haryana',
       'Bihar', 'Mizoram', 'Meghalaya', 'Gujarat', 'Arunachal Pradesh',
       'Sikkim', 'Jharkhand', 'Puduchery', 'Ladakh',
       'Andaman & N. Island', 'Lakshadweep',
       'D & N. Haveli & Daman & Diu', 'Chandigarh'], dtype=object)

In [ ]:
df_perv1_identifier['Marital_Status'].unique()

array(['Currently_married', 'Never_Married', 'Widowed',
       'Divorced/Separated'], dtype=object)

In [ ]:
df_perv1_identifier['Status_code_princ'].unique()

array(['worked as regular salaried/ wage employee',
       'worked in hh. enterprise (self-employed): own account worker',
       'worked in hh. enterprise (self-employed): employer',
       'attended domestic duties and was also engaged in free collection of goods (vegetables, roots, firewood, cattle feed, etc.), sewing, tailoring, weaving, etc. for household use',
       nan, 'rentiers, pensioners , remittance recipients, etc.',
       'attended domestic duties only',
       'attended educational institution',
       'not able to work due to disability',
       'worked as helper in h.h. enterprise (unpaid family worker)',
       'Worked as casual wage labour in other types of\twork',
       'did not work but was seeking and/or available for work',
       'others (including begging, prostitution,  etc.)',
       'worked as casual wage labour: in public works other than MGNREG'],
      dtype=object)

In [ ]:
df_perv1_identifier['Status_code_subs'].unique()

array([nan, 'worked as regular salaried/ wage employee',
       'worked in hh. enterprise (self-employed): own account worker',
       'worked in hh. enterprise (self-employed): employer',
       'worked as helper in h.h. enterprise (unpaid family worker)',
       'worked as casual wage labour: in public works other than MGNREG',
       'Worked as casual wage labour in other types of\twork'],
      dtype=object)

In [ ]:
df_perv1_identifier['Current_weekly_status_CWS'].unique()

array(['worked as regular salaried/ wage employee',
       'worked in hh. enterprise (self-employed): own account worker',
       'worked in hh. enterprise (self-employed): employer',
       'attended domestic duties and was also engaged in free collection of goods (vegetables, roots, firewood, cattle feed, etc.), sewing, tailoring, weaving, etc. for household use',
       nan, 'rentiers, pensioners , remittance recipients, etc.',
       'attended domestic duties only',
       'attended educational institution',
       'had regular salaried/wage employment but did not work due to: sickness',
       'not able to work due to disability', 'Sought work',
       'worked as helper in h.h. enterprise (unpaid family worker)',
       'Worked as casual wage labour in other types of\twork',
       'others (including begging, prostitution,  etc.)',
       'had work in hh entreprise but did not work due to: other reasons',
       'did not work due to sickness(for casual workers only)',
       'Worked as casual wage labour in MGNREG works',
       'had work in hh entreprise but did not work due to: sickness',
       'did not seek but was available for work',
       'had regular salaried/wage employment but did not work due to: other reasons',
       'worked as casual wage labour: in public works other than MGNREG'],
      dtype=object)

In [ ]:
df_perv1_identifier['Sex'].unique()

array(['Male', 'Female', 'transgender'], dtype=object)

In [ ]:
def calculate_final_weight(row):
    if row['Ns_count_for_sector_x_Statum_x_substratum_x_sub-sample'] == row['Ns_count_for_sector_x_stratum_x_substratum']:
        return row['Sub-sample_wise_multiplier'] / 400
    else:
        return row['Sub-sample_wise_multiplier'] / 800

# Apply the function to each row to create the new column
df_perv1['final_weight'] = df_perv1.apply(calculate_final_weight, axis=1)

# **Final Data**
#### As stated, in this analysis above data have not been used. The data which will be used in this analysis has been extrcated again (below) and necessary operations has been done.

##### ***You may ignore all the operations done on the dataset named df_perv1_identifier (above) if not required***

In [ ]:
## for our purpose we need information only for the repondents of age 15 and above. a new data set with titled df_perv1_above15
## has been extracted from the previous data set. The appropriate condition has been used on the age column to filter population of 15 and aboev age.

df_perv1_above15 = df_perv1[df_perv1['Age'] >= 15]
df_perv1_above15.head()

,File Identification,Schdule,Quarter,Visit,Sector,Stete/Ut Code,District Code,NSS-Region,Stratum,Sub-Stratum,Sub-Sample,Fod_Sub-Region,FSU,Sample_Sg/Sb_No,Second_stage_Stratum_No,Sample_HH_No,Person_Serial_No,Relationship_to_Head,Sex,Age,Marital_Status,General_Education_level,Technical_Education_level,No_of_years_in_Formal_Education,Status_of_current_attendance_in_edu_institution,Whether_received_any_vocational/technical_training,Whether_training_completed_during_last_365_days,Field_of_training,Duration_of_training,Type_of_training,Source_of_funding_the_training,Status_code_princ,Industry_code_princ,Occupation_code_princ,Whether_engaged_in_any_work_in_sussidiary_capacity,Pricipal_work_location_code,principal_enterprise_type_code,Principal_no_of_workers_in_the_enterprise,principal_type_of_job_contract,principal_elligible_of_paid_leave,principal_social_security_benefits,principal_usage_of_product_of_the_economic_activity,Status_code_subs,Industry_code_NIC_subs,Occupation_code_NCO_subs,Subs_work_location_code,Subs_enterprise_type_code,Subs_no_of_workers_in_the_enterprise,Subs_type_of_job_contract,Subs_elligible_of_paid_leave,Subs_social_security_benefits,Subs_usage_of_product_of_the_economic_activity,Ever_worked_prior_to_last_365_days,Duration_of_engagement_in_the_economic_activity_in_Ususal_principal_activity_statsu,Duration_of_engagement_in_the_economic_activity_in_subsidiary_activity_status,Efforts_undertaken_to_search_work,Duration_of_spell_of_unemployment,whther_ever_worked,Reason_for_not_working_in_last_365_days,main_reason_for_being_in_principal_activity_status_91-97,Status_code_for_activity_1_7th_day,Industry_code_NIC_for_activity_1_7th_day,Hours_actually_worked_for_activity_1_on_7th_day,Wage_earning_for_activity_1_on_7th_day,Status_code_for_activity_2_7th_day,Industry_code_NIC_for_activity_2_7th_day,hours_actually_worked_for_activity_2_on_7th_day,Wage_earning_for_activity_2_on_7th_day,Total_hours_actually_worked_on_7th_day,hours_available_for_additional_worked_on_7th_day,Status_code_for_activity_1_6th_day,Industry_code_NIC_for_activity_1_6th_day,Hours_actually_worked_for_activity_1_on_6th_day,Wage_earning_for_activity_1_on_6th_day,Status_code_for_activity_2_6th_day,Industry_code_NIC_for_activity_2_6th_day,hours_actually_worked_for_activity_2_on_6th_day,Wage_earning_for_activity_2_on_6th_day,Total_hours_actually_worked_on_6th_day,hours_available_for_additional_worked_on_6th_day,Status_code_for_activity_1_5th_day,Industry_code_NIC_for_activity_1_5th_day,Hours_actually_worked_for_activity_1_on_5th_day,Wage_earning_for_activity_1_on_5th_day,Status_code_for_activity_2_5th_day,Industry_code_NIC_for_activity_2_5th_day,hours_actually_worked_for_activity_2_on_5th_day,Wage_earning_for_activity_2_on_5th_day,Total_hours_actually_worked_on_5th_day,hours_available_for_additional_worked_on_5th_day,Status_code_for_activity_1_4th_day,Industry_code_NIC_for_activity_1_4th_day,Hours_actually_worked_for_activity_1_on_4th_day,Wage_earning_for_activity_1_on_4th_day,Status_code_for_activity_2_4th_day,Industry_code_NIC_for_activity_2_4th_day,hours_actually_worked_for_activity_2_on_4th_day,Wage_earning_for_activity_2_on_4th_day,Total_hours_actually_worked_on_4th_day,hours_available_for_additional_worked_on_4th_day,Status_code_for_activity_1_3rd_day,Industry_code_NIC_for_activity_1_3rd_day,Hours_actually_worked_for_activity_1_on_3rd_day,Wage_earning_for_activity_1_on_3rd_day,Status_code_for_activity_2_3rd_day,Industry_code_NIC_for_activity_2_3rd_day,hours_actually_worked_for_activity_2_on_3rd_day,Wage_earning_for_activity_2_on_3rd_day,Total_hours_actually_worked_on_3rd_day,hours_available_for_additional_worked_on_3rd_day,Status_code_for_activity_1_2nd_day,Industry_code_NIC_for_activity_1_2nd_day,Hours_actually_worked_for_activity_1_on_2nd_day,Wage_earning_for_activity_1_on_2nd_day,Status_code_for_activity_2_2nd_day,Industry_code_NIC_for_activity_2_2nd_day,hours_actually_worked_for_activity_2_on_2nd_day,Wage_earning_for_activity_2_on_2nd_day,Total_hours_actually_worked_on_2nd_day,hours_available_for_additional_worked_on_2nd_day,Status_code_for_activity_1_1st_day,Industry_code_NIC_for_activity_1_1st_day,Hours_actually_worked_for_activity_1_on_1st_day,Wage_earning_for_activity_1_on_1st_day,Status_code_for_activity_2_1st_day,Industry_code_NIC_for_activity_2_1st_day,hours_actually_worked_for_activity_2_on_1st_day,Wage_earning_for_activity_2_on_1st_day,Total_hours_actually_worked_on_1st_day,hours_available_for_additional_worked_on_1st_day,Current_weekly_status_CWS,Industry_code_CWS,Occupation_code_CWS,Earnings_for_regular_salaried/Wage_activity,Earnings_for_self_employed,Ns_count_for_sector_x_Statum_x_substratum_x_sub-sample,Ns_count_for_sector_x_stratum_x_substratum,Sub-sample_wise_multiplier,Occurance_of_FSU_in_State_x_Sector_x_Stratum_x_SubStratum_in_4_quarters
0,FVP6,104,Q5,V1,1,2,9,22,2,6,1,210,10004,1,1,1,1,1,1,56,2,6,1,7,NaN,6.0,NaN,NaN,NaN,NaN,NaN,31,21001.0,932.0,2,16.0,8.0,4.0,1.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,31,21.0,9,0,NaN,NaN,0,0,9,0,72,21.0,9,0,NaN,NaN,0,0,0,0,31,21.0,9,0,NaN,NaN,0,0,9,0,31,21.0,9,0,NaN,NaN,0,0,9,0,31,21.0,9,0,NaN,NaN,0,0,9,0,31,21.0,9,0,NaN,NaN,0,0,9,0,31,21.0,9,0,NaN,NaN,0,0,9,0,31,21.0,833.0,7500,0,1,2,1772504,4
1,FVP6,104,Q5,V1,1,2,9,22,2,6,1,210,10004,1,1,1,2,2,2,55,2,6,1,5,NaN,6.0,NaN,NaN,NaN,NaN,NaN,11,1113.0,631.0,2,NaN,2.0,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,11,1.0,5,0,NaN,NaN,0,0,5,0,11,1.0,4,0,NaN,NaN,0,0,4,0,11,1.0,4,0,NaN,NaN,0,0,4,0,11,1.0,5,0,NaN,NaN,0,0,5,0,11,1.0,5,0,NaN,NaN,0,0,5,0,11,1.0,5,0,NaN,NaN,0,0,5,0,11,1.0,5,0,NaN,NaN,0,0,5,0,11,1.0,631.0,0,1200,1,2,1772504,4
2,FVP6,104,Q5,V1,1,2,9,22,2,6,1,210,10004,1,1,1,3,3,1,32,2,11,11,14,NaN,6.0,NaN,NaN,NaN,NaN,NaN,12,49231.0,112.0,2,14.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,12,49.0,11,0,NaN,NaN,0,0,11,0,12,49.0,11,0,NaN,NaN,0,0,11,0,12,49.0,11,0,NaN,NaN,0,0,11,0,12,49.0,11,0,NaN,NaN,0,0,11,0,12,49.0,11,0,NaN,NaN,0,0,11,0,12,49.0,11,0,NaN,NaN,0,0,11,0,12,49.0,11,0,NaN,NaN,0,0,11,0,12,49.0,112.0,0,48000,1,2,1772504,4
3,FVP6,104,Q5,V1,1,2,9,22,2,6,1,210,10004,1,1,1,4,4,2,29,2,11,10,12,14.0,1.0,2.0,4.0,6.0,3.0,2.0,93,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,7.0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,NaN,0,0,1,2,1772504,4
5,FVP6,104,Q5,V1,1,2,9,22,2,6,1,210,10004,1,1,1,6,5,1,29,1,8,1,12,15.0,5.0,NaN,NaN,NaN,NaN,NaN,11,49231.0,833.0,2,14.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,11,49.0,10,0,NaN,NaN,0,0,10,0,11,49.0,11,0,NaN,NaN,0,0,11,0,11,49.0,10,0,NaN,NaN,0,0,10,0,11,49.0,11,0,NaN,NaN,0,0,11,0,11,49.0,11,0,NaN,NaN,0,0,11,0,11,49.0,11,0,NaN,NaN,0,0,11,0,11,49.0,11,0,NaN,NaN,0,0,11,0,11,49.0,833.0,0,17000,1,2,1772504,4

In [ ]:
# To check the no. of rows and columns of the dataset.
df_perv1_above15.shape

(320260, 139)

In [ ]:
# to check the minimum age in the column after extrating the data (just exploring).
df_perv1_above15['Age'].min()

15

In [ ]:
## In the dataset. the column Sub-sample wise multiplier is used to estimate the population size for each level of survey unit.
## Documentataion has to be refrred to understend the methodlogy in depth.

## As per methodology, in this code block, if NS Count for sub-sample (given as NSS in the documentation) equals to NS count for
## substratum(given as NSO in the documentation) then to estimate the population in the survey unit multiplier column has to be devide by 400
## other wise it has to be devide by 800.

## using this information  this code block first create a function which apply the above logic. the function has bene named as calculate_final_weight.
## this function has been applied on the dataset to create a new column termed here as 'final_weight'
def calculate_final_weight(row):
    if row['Ns_count_for_sector_x_Statum_x_substratum_x_sub-sample'] == row['Ns_count_for_sector_x_stratum_x_substratum']:
        return row['Sub-sample_wise_multiplier'] / 400
    else:
        return row['Sub-sample_wise_multiplier'] / 800

# Apply the function to each row to create the new column
df_perv1_above15['final_weight'] = df_perv1_above15.apply(calculate_final_weight, axis=1)

<ipython-input-8-3af2e6136cf7>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_perv1_above15['final_weight'] = df_perv1_above15.apply(calculate_final_weight, axis=1)

In [ ]:
df_perv1_above15.head()

,File Identification,Schdule,Quarter,Visit,Sector,Stete/Ut Code,District Code,NSS-Region,Stratum,Sub-Stratum,Sub-Sample,Fod_Sub-Region,FSU,Sample_Sg/Sb_No,Second_stage_Stratum_No,Sample_HH_No,Person_Serial_No,Relationship_to_Head,Sex,Age,Marital_Status,General_Education_level,Technical_Education_level,No_of_years_in_Formal_Education,Status_of_current_attendance_in_edu_institution,Whether_received_any_vocational/technical_training,Whether_training_completed_during_last_365_days,Field_of_training,Duration_of_training,Type_of_training,Source_of_funding_the_training,Status_code_princ,Industry_code_princ,Occupation_code_princ,Whether_engaged_in_any_work_in_sussidiary_capacity,Pricipal_work_location_code,principal_enterprise_type_code,Principal_no_of_workers_in_the_enterprise,principal_type_of_job_contract,principal_elligible_of_paid_leave,principal_social_security_benefits,principal_usage_of_product_of_the_economic_activity,Status_code_subs,Industry_code_NIC_subs,Occupation_code_NCO_subs,Subs_work_location_code,Subs_enterprise_type_code,Subs_no_of_workers_in_the_enterprise,Subs_type_of_job_contract,Subs_elligible_of_paid_leave,Subs_social_security_benefits,Subs_usage_of_product_of_the_economic_activity,Ever_worked_prior_to_last_365_days,Duration_of_engagement_in_the_economic_activity_in_Ususal_principal_activity_statsu,Duration_of_engagement_in_the_economic_activity_in_subsidiary_activity_status,Efforts_undertaken_to_search_work,Duration_of_spell_of_unemployment,whther_ever_worked,Reason_for_not_working_in_last_365_days,main_reason_for_being_in_principal_activity_status_91-97,Status_code_for_activity_1_7th_day,Industry_code_NIC_for_activity_1_7th_day,Hours_actually_worked_for_activity_1_on_7th_day,Wage_earning_for_activity_1_on_7th_day,Status_code_for_activity_2_7th_day,Industry_code_NIC_for_activity_2_7th_day,hours_actually_worked_for_activity_2_on_7th_day,Wage_earning_for_activity_2_on_7th_day,Total_hours_actually_worked_on_7th_day,hours_available_for_additional_worked_on_7th_day,Status_code_for_activity_1_6th_day,Industry_code_NIC_for_activity_1_6th_day,Hours_actually_worked_for_activity_1_on_6th_day,Wage_earning_for_activity_1_on_6th_day,Status_code_for_activity_2_6th_day,Industry_code_NIC_for_activity_2_6th_day,hours_actually_worked_for_activity_2_on_6th_day,Wage_earning_for_activity_2_on_6th_day,Total_hours_actually_worked_on_6th_day,hours_available_for_additional_worked_on_6th_day,Status_code_for_activity_1_5th_day,Industry_code_NIC_for_activity_1_5th_day,Hours_actually_worked_for_activity_1_on_5th_day,Wage_earning_for_activity_1_on_5th_day,Status_code_for_activity_2_5th_day,Industry_code_NIC_for_activity_2_5th_day,hours_actually_worked_for_activity_2_on_5th_day,Wage_earning_for_activity_2_on_5th_day,Total_hours_actually_worked_on_5th_day,hours_available_for_additional_worked_on_5th_day,Status_code_for_activity_1_4th_day,Industry_code_NIC_for_activity_1_4th_day,Hours_actually_worked_for_activity_1_on_4th_day,Wage_earning_for_activity_1_on_4th_day,Status_code_for_activity_2_4th_day,Industry_code_NIC_for_activity_2_4th_day,hours_actually_worked_for_activity_2_on_4th_day,Wage_earning_for_activity_2_on_4th_day,Total_hours_actually_worked_on_4th_day,hours_available_for_additional_worked_on_4th_day,Status_code_for_activity_1_3rd_day,Industry_code_NIC_for_activity_1_3rd_day,Hours_actually_worked_for_activity_1_on_3rd_day,Wage_earning_for_activity_1_on_3rd_day,Status_code_for_activity_2_3rd_day,Industry_code_NIC_for_activity_2_3rd_day,hours_actually_worked_for_activity_2_on_3rd_day,Wage_earning_for_activity_2_on_3rd_day,Total_hours_actually_worked_on_3rd_day,hours_available_for_additional_worked_on_3rd_day,Status_code_for_activity_1_2nd_day,Industry_code_NIC_for_activity_1_2nd_day,Hours_actually_worked_for_activity_1_on_2nd_day,Wage_earning_for_activity_1_on_2nd_day,Status_code_for_activity_2_2nd_day,Industry_code_NIC_for_activity_2_2nd_day,hours_actually_worked_for_activity_2_on_2nd_day,Wage_earning_for_activity_2_on_2nd_day,Total_hours_actually_worked_on_2nd_day,hours_available_for_additional_worked_on_2nd_day,Status_code_for_activity_1_1st_day,Industry_code_NIC_for_activity_1_1st_day,Hours_actually_worked_for_activity_1_on_1st_day,Wage_earning_for_activity_1_on_1st_day,Status_code_for_activity_2_1st_day,Industry_code_NIC_for_activity_2_1st_day,hours_actually_worked_for_activity_2_on_1st_day,Wage_earning_for_activity_2_on_1st_day,Total_hours_actually_worked_on_1st_day,hours_available_for_additional_worked_on_1st_day,Current_weekly_status_CWS,Industry_code_CWS,Occupation_code_CWS,Earnings_for_regular_salaried/Wage_activity,Earnings_for_self_employed,Ns_count_for_sector_x_Statum_x_substratum_x_sub-sample,Ns_count_for_sector_x_stratum_x_substratum,Sub-sample_wise_multiplier,Occurance_of_FSU_in_State_x_Sector_x_Stratum_x_SubStratum_in_4_quarters,final_weight
0,FVP6,104,Q5,V1,1,2,9,22,2,6,1,210,10004,1,1,1,1,1,1,56,2,6,1,7,NaN,6.0,NaN,NaN,NaN,NaN,NaN,31,21001.0,932.0,2,16.0,8.0,4.0,1.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,31,21.0,9,0,NaN,NaN,0,0,9,0,72,21.0,9,0,NaN,NaN,0,0,0,0,31,21.0,9,0,NaN,NaN,0,0,9,0,31,21.0,9,0,NaN,NaN,0,0,9,0,31,21.0,9,0,NaN,NaN,0,0,9,0,31,21.0,9,0,NaN,NaN,0,0,9,0,31,21.0,9,0,NaN,NaN,0,0,9,0,31,21.0,833.0,7500,0,1,2,1772504,4,2215.63
1,FVP6,104,Q5,V1,1,2,9,22,2,6,1,210,10004,1,1,1,2,2,2,55,2,6,1,5,NaN,6.0,NaN,NaN,NaN,NaN,NaN,11,1113.0,631.0,2,NaN,2.0,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,11,1.0,5,0,NaN,NaN,0,0,5,0,11,1.0,4,0,NaN,NaN,0,0,4,0,11,1.0,4,0,NaN,NaN,0,0,4,0,11,1.0,5,0,NaN,NaN,0,0,5,0,11,1.0,5,0,NaN,NaN,0,0,5,0,11,1.0,5,0,NaN,NaN,0,0,5,0,11,1.0,5,0,NaN,NaN,0,0,5,0,11,1.0,631.0,0,1200,1,2,1772504,4,2215.63
2,FVP6,104,Q5,V1,1,2,9,22,2,6,1,210,10004,1,1,1,3,3,1,32,2,11,11,14,NaN,6.0,NaN,NaN,NaN,NaN,NaN,12,49231.0,112.0,2,14.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,12,49.0,11,0,NaN,NaN,0,0,11,0,12,49.0,11,0,NaN,NaN,0,0,11,0,12,49.0,11,0,NaN,NaN,0,0,11,0,12,49.0,11,0,NaN,NaN,0,0,11,0,12,49.0,11,0,NaN,NaN,0,0,11,0,12,49.0,11,0,NaN,NaN,0,0,11,0,12,49.0,11,0,NaN,NaN,0,0,11,0,12,49.0,112.0,0,48000,1,2,1772504,4,2215.63
3,FVP6,104,Q5,V1,1,2,9,22,2,6,1,210,10004,1,1,1,4,4,2,29,2,11,10,12,14.0,1.0,2.0,4.0,6.0,3.0,2.0,93,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,7.0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,0,0,NaN,NaN,0,0,0,0,93,NaN,NaN,0,0,1,2,1772504,4,2215.63
5,FVP6,104,Q5,V1,1,2,9,22,2,6,1,210,10004,1,1,1,6,5,1,29,1,8,1,12,15.0,5.0,NaN,NaN,NaN,NaN,NaN,11,49231.0,833.0,2,14.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,11,49.0,10,0,NaN,NaN,0,0,10,0,11,49.0,11,0,NaN,NaN,0,0,11,0,11,49.0,10,0,NaN,NaN,0,0,10,0,11,49.0,11,0,NaN,NaN,0,0,11,0,11,49.0,11,0,NaN,NaN,0,0,11,0,11,49.0,11,0,NaN,NaN,0,0,11,0,11,49.0,11,0,NaN,NaN,0,0,11,0,11,49.0,833.0,0,17000,1,2,1772504,4,2215.63

In [ ]:
## coverting the vlaues of columns below as string to avoide any error in further analysis. However, this is not necessary.
## This simply is a precautionary measure and better to take in prectice.

df_perv1_above15['Status_code_princ'] = df_perv1_above15['Status_code_princ'].astype(str)
df_perv1_above15['Current_weekly_status_CWS'] = df_perv1_above15['Current_weekly_status_CWS'].astype(str)
df_perv1_above15['Sex'] = df_perv1_above15['Sex'].astype(str)

<ipython-input-10-8db6ec483d26>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_perv1_above15['Status_code_princ'] = df_perv1_above15['Status_code_princ'].astype(str)
<ipython-input-10-8db6ec483d26>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_perv1_above15['Current_weekly_status_CWS'] = df_perv1_above15['Current_weekly_status_CWS'].astype(str)
<ipython-input-10-8db6ec483d26>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_perv1_above15['Sex'] = df_perv1_above15['Sex'].astype(str)

In [ ]:
# Checking all teh unique values in the column (just exploring)
df_perv1_above15['Current_weekly_status_CWS'].unique()

array(['31', '11', '12', '93', '94', '92', '91', '71', '95', '81', '21',
       '51', '97', '62', '98', '42', '61', '82', '72', '41'], dtype=object)

In [ ]:
# calculating the Labour force for Usual Status.
# To understand what is usual status, please refer to the documentaion (survey design and methodology)

# the codes stored in variable 'status_codes_in_LF_US' belongs to the persons who are in workfoce
# (different codes signifies diiferent nature of engagement but in the labour force)

# A person is considered in workforce if the person is enagaged in any form which belong to the following code or he is engaged in any susidiary work.
# The code below apply the same logic. It filters out all the population as per the above logic and then sums of all the estimated population (from
# final_weight column) belongin to these catroies. This gives us total population in the absolute number.
status_codes_in_LF_US = ['11','12', '21', '31', '41', '42', '51', '61', '71', '72', '81', '82']
Total_Labour_force_US = df_perv1_above15.loc[
    (df_perv1_above15['Status_code_princ'].isin(status_codes_in_LF_US)) |
    (df_perv1_above15['Whether_engaged_in_any_work_in_sussidiary_capacity'] == 1),
    'final_weight'].sum()

# The below code devides the total population in the labour force from the total population and multiply it by 100 to get the percentage LFPR in usual status
LFPR_US = Total_Labour_force_US*100/ df_perv1_above15['final_weight'].sum()
print(LFPR_US)

57.864175669754935

In [ ]:
## SImilar process as above have been applied to calculate the LFPR in CWS category. to understand CWS (Current weekly status, please refer documentation)
## A simple difference here is that engagement in subsidiary work does not apply in case of CWS that why
## has not been used to calculate the total no. of persons in LFPR in CWS.
status_codes_in_LF_CWS = ['11','12', '21', '31', '41', '42', '51', '61', '62','71', '72', '81', '82']
Total_Labour_force_CWS = df_perv1_above15.loc[(df_perv1_above15['Current_weekly_status_CWS'].isin(status_codes_in_LF_CWS)),'final_weight'].sum()

LFPR_CWS = Total_Labour_force_CWS*100/ df_perv1_above15['final_weight'].sum()
print(LFPR_CWS)

54.61551680259539

# ***Analysis of population not in Labour force(w.r.t total population not in workforce)***

### **Usual Activity: Total**

In [ ]:
## Since the labour force is calculated as population either engaged in work (codes for the engegament are in the previous block for usual status)
## or engaged in any suscidiary work. to calculate the population who are not in labour force, we have to consider the coded which belong to the
## type of engagement which are considered as not in labour force and who are also not engaged in any subsidiary work. The code below tries to do the same.

# first it stores all the codes that belong sto activities that are considered not in labour force in a valriable named 'status_codes_Notin_LF_US'.
## then it uses the variable to filter out the respondents corresponding to these codes and additionally it also specifiey that the person
# should not be engaged in any subsidiary activity.

status_codes_Notin_LF_US = ['91', '92', '93', '94', '95', '97']
Total_Notin_LF_US = df_perv1_above15.loc[(df_perv1_above15['Status_code_princ'].isin(status_codes_Notin_LF_US)) &
                                         (df_perv1_above15['Whether_engaged_in_any_work_in_sussidiary_capacity'] != 1),'final_weight'].sum()

# After calculating the totalnumber of poplation not in labout force, using below code percnetga of such population has been calculated w.r.t. total population
print(Total_Notin_LF_US)
print(Total_Notin_LF_US*100/df_perv1_above15['final_weight'].sum())

377402879.07
42.13582433024508

In [ ]:
## this code tries to check the percentage of poupulation separately for each type of enegagement who  are not in labour force as a percentage of
## total population who are not in labour force.

Total_attended_educational_institution = df_perv1_above15.loc[(df_perv1_above15['Status_code_princ'] == '91') &
                                                              (df_perv1_above15['Whether_engaged_in_any_work_in_sussidiary_capacity'] != 1),'final_weight'].sum()

percent_attended_educational_institution = (Total_attended_educational_institution *100)/Total_Notin_LF_US
print(round(percent_attended_educational_institution,1))

27.4

In [ ]:
# Just as above
Total_attended_domestic_duties_only = df_perv1_above15.loc[(df_perv1_above15['Status_code_princ'] == '92') &
                                                           (df_perv1_above15['Whether_engaged_in_any_work_in_sussidiary_capacity'] != 1),'final_weight'].sum()

percent_attended_domestic_duties_only = (Total_attended_domestic_duties_only*100)/Total_Notin_LF_US
print(round(percent_attended_domestic_duties_only,1))

37.4

In [ ]:
Total_attended_domestic_duties_and_engaged_in_free_collection_of_goods = df_perv1_above15.loc[(df_perv1_above15['Status_code_princ'] == '93') &
                                                                                              (df_perv1_above15['Whether_engaged_in_any_work_in_sussidiary_capacity'] != 1),'final_weight'].sum()

percent_attended_domestic_duties_and_engaged_in_free_collection_of_goods = (Total_attended_domestic_duties_and_engaged_in_free_collection_of_goods*100)/Total_Notin_LF_US

print(round(percent_attended_domestic_duties_and_engaged_in_free_collection_of_goods,1))

17.8

In [ ]:
Total_rentiers_pensioners_remmitance_receipients = df_perv1_above15.loc[(df_perv1_above15['Status_code_princ'] == '94') &
                                                                        (df_perv1_above15['Whether_engaged_in_any_work_in_sussidiary_capacity'] != 1),'final_weight'].sum()

percent_rentiers_pensioners_remmitance_receipients = (Total_rentiers_pensioners_remmitance_receipients*100)/Total_Notin_LF_US

print(round(percent_rentiers_pensioners_remmitance_receipients,1))

12.1

In [ ]:
Total_not_able_to_work_due_to_disability = df_perv1_above15.loc[(df_perv1_above15['Status_code_princ'] == '95') &
                                                                (df_perv1_above15['Whether_engaged_in_any_work_in_sussidiary_capacity'] != 1),'final_weight'].sum()

percent_not_able_to_work_due_to_disability = (Total_not_able_to_work_due_to_disability*100)/Total_Notin_LF_US
print(round(percent_not_able_to_work_due_to_disability,1))

2.7

In [ ]:
Total_others = df_perv1_above15.loc[(df_perv1_above15['Status_code_princ'] == '97') &
                                    (df_perv1_above15['Whether_engaged_in_any_work_in_sussidiary_capacity'] != 1),'final_weight'].sum()

percent_others = (Total_others*100)/Total_Notin_LF_US
print(round(percent_others,1))

2.6

### **Usual Activity: Female**

This section calculated the % of female who are not in labour force and also see separately the % of female in different types of enggement who are not in Labour force separately.
It calculates the percantege wit base total female not in labour force

In [ ]:
df_perv1_above15_female = df_perv1_above15[df_perv1_above15['Sex'] == '2']
df_perv1_above15_female.shape

(159128, 140)

In [ ]:

status_codes_Notin_LF_US = ['91', '92', '93', '94', '95', '97']
female_Total_Notin_LF_US = df_perv1_above15.loc[(df_perv1_above15['Status_code_princ'].isin(status_codes_Notin_LF_US)) &
                                         (df_perv1_above15['Sex'] == '2') &
                                          (df_perv1_above15['Whether_engaged_in_any_work_in_sussidiary_capacity'] != 1),'final_weight'].sum()

print(female_Total_Notin_LF_US)

280802977.57875

In [ ]:
Female_attended_educational_institution = df_perv1_above15.loc[(df_perv1_above15['Status_code_princ'] == '91') &
                                                               (df_perv1_above15['Sex'] == '2') &
                                                               (df_perv1_above15['Whether_engaged_in_any_work_in_sussidiary_capacity'] != 1),'final_weight'].sum()

percent_attended_educational_institution = (Female_attended_educational_institution *100)/female_Total_Notin_LF_US
print(round(percent_attended_educational_institution,1))

16.7

In [ ]:
Female_attended_domestic_duties_only = df_perv1_above15.loc[(df_perv1_above15['Status_code_princ'] == '92') &
                                                           (df_perv1_above15['Sex'] == '2') &
                                                            (df_perv1_above15['Whether_engaged_in_any_work_in_sussidiary_capacity'] != 1),'final_weight'].sum()

percent_attended_domestic_duties_only = (Female_attended_domestic_duties_only*100)/female_Total_Notin_LF_US
print(round(percent_attended_domestic_duties_only,1))

49.1

In [ ]:
Female_attended_domestic_duties_and_engaged_in_free_collection_of_goods = df_perv1_above15.loc[(df_perv1_above15['Status_code_princ'] == '93') &
                                                                                              (df_perv1_above15['Sex'] == '2') &
                                                                                             (df_perv1_above15['Whether_engaged_in_any_work_in_sussidiary_capacity'] != 1),'final_weight'].sum()

percent_attended_domestic_duties_and_engaged_in_free_collection_of_goods = (Female_attended_domestic_duties_and_engaged_in_free_collection_of_goods*100)/female_Total_Notin_LF_US

print(round(percent_attended_domestic_duties_and_engaged_in_free_collection_of_goods,1))

23.8

In [ ]:
Female_rentiers_pensioners_remmitance_receipients = df_perv1_above15.loc[(df_perv1_above15['Status_code_princ'] == '94') &
                                                                        (df_perv1_above15['Sex'] == '2') &
                                                                         (df_perv1_above15['Whether_engaged_in_any_work_in_sussidiary_capacity'] != 1),'final_weight'].sum()

percent_rentiers_pensioners_remmitance_receipients = (Female_rentiers_pensioners_remmitance_receipients*100)/female_Total_Notin_LF_US

print(round(percent_rentiers_pensioners_remmitance_receipients,1))

7.6

In [ ]:
Female_not_able_to_work_due_to_disability = df_perv1_above15.loc[(df_perv1_above15['Status_code_princ'] == '95') &
                                                                (df_perv1_above15['Sex'] == '2') &
                                                                 (df_perv1_above15['Whether_engaged_in_any_work_in_sussidiary_capacity'] != 1),'final_weight'].sum()

percent_not_able_to_work_due_to_disability = (Female_not_able_to_work_due_to_disability*100)/female_Total_Notin_LF_US
print(round(percent_not_able_to_work_due_to_disability,1))

1.3

In [ ]:
Female_others = df_perv1_above15.loc[(df_perv1_above15['Status_code_princ'] == '97') &
                                    (df_perv1_above15['Sex'] == '2') &
                                     (df_perv1_above15['Whether_engaged_in_any_work_in_sussidiary_capacity'] != 1),'final_weight'].sum()

percent_others = (Female_others*100)/female_Total_Notin_LF_US
print(round(percent_others,1))

1.4

### **Usual Activity: Male**

This section calculated the % of male who are not in labour force and also see separately the % of male in different types of enggement who are not in Labour force separately.
It calculates the percantege wit base total male not in labour force

In [ ]:
df_perv1_above15_male = df_perv1_above15[df_perv1_above15['Sex'] == '1']
df_perv1_above15_male.shape

(161117, 140)

In [ ]:
status_codes_Notin_LF_US = ['91', '92', '93', '94', '95', '97']
Male_Total_Notin_LF_US = df_perv1_above15.loc[(df_perv1_above15['Status_code_princ'].isin(status_codes_Notin_LF_US)) &
                                         (df_perv1_above15['Sex'] == '1') &
                                          (df_perv1_above15['Whether_engaged_in_any_work_in_sussidiary_capacity'] != 1),'final_weight'].sum()

print(Male_Total_Notin_LF_US)

96593105.69625

In [ ]:
Male_attended_educational_institution = df_perv1_above15.loc[(df_perv1_above15['Status_code_princ'] == '91') &
                                                               (df_perv1_above15['Sex'] == '1') &
                                                             (df_perv1_above15['Whether_engaged_in_any_work_in_sussidiary_capacity'] != 1),'final_weight'].sum()

percent_attended_educational_institution = (Male_attended_educational_institution *100)/Male_Total_Notin_LF_US
print(round(percent_attended_educational_institution,1))
print(Male_attended_educational_institution)

58.5
56472165.21124999

In [ ]:
Male_attended_domestic_duties_only = df_perv1_above15.loc[(df_perv1_above15['Status_code_princ'] == '92') &
                                                           (df_perv1_above15['Sex'] == '1') &
                                                          (df_perv1_above15['Whether_engaged_in_any_work_in_sussidiary_capacity'] != 1),'final_weight'].sum()

percent_attended_domestic_duties_only = (Male_attended_domestic_duties_only*100)/Male_Total_Notin_LF_US
print(round(percent_attended_domestic_duties_only,1))

3.2

In [ ]:
Male_attended_domestic_duties_and_engaged_in_free_collection_of_goods = df_perv1_above15.loc[(df_perv1_above15['Status_code_princ'] == '93') &
                                                                                              (df_perv1_above15['Sex'] == '1') &
                                                                                             (df_perv1_above15['Whether_engaged_in_any_work_in_sussidiary_capacity'] != 1),'final_weight'].sum()

percent_attended_domestic_duties_and_engaged_in_free_collection_of_goods = (Male_attended_domestic_duties_and_engaged_in_free_collection_of_goods*100)/Male_Total_Notin_LF_US

print(round(percent_attended_domestic_duties_and_engaged_in_free_collection_of_goods,1))

0.4

In [ ]:
Male_rentiers_pensioners_remmitance_receipients = df_perv1_above15.loc[(df_perv1_above15['Status_code_princ'] == '94') &
                                                                        (df_perv1_above15['Sex'] == '1') &
                                                                       (df_perv1_above15['Whether_engaged_in_any_work_in_sussidiary_capacity'] != 1),'final_weight'].sum()

percent_rentiers_pensioners_remmitance_receipients = (Male_rentiers_pensioners_remmitance_receipients*100)/Male_Total_Notin_LF_US

print(round(percent_rentiers_pensioners_remmitance_receipients,1))

25.1

In [ ]:
Male_not_able_to_work_due_to_disability = df_perv1_above15.loc[(df_perv1_above15['Status_code_princ'] == '95') &
                                                                (df_perv1_above15['Sex'] == '1') &
                                                               (df_perv1_above15['Whether_engaged_in_any_work_in_sussidiary_capacity'] != 1),'final_weight'].sum()

percent_not_able_to_work_due_to_disability = (Male_not_able_to_work_due_to_disability*100)/Male_Total_Notin_LF_US
print(round(percent_not_able_to_work_due_to_disability,1))

6.9

In [ ]:
Male_others = df_perv1_above15.loc[(df_perv1_above15['Status_code_princ'] == '97') &
                                    (df_perv1_above15['Sex'] == '1') &
                                   (df_perv1_above15['Whether_engaged_in_any_work_in_sussidiary_capacity'] != 1),'final_weight'].sum()

percent_others = (Male_others*100)/Male_Total_Notin_LF_US
print(round(percent_others,1))

5.9

### **Current Weekly status: Total**

Similar as above this section caluclate the indices (all the aboeve and required) for current weekly status

In [ ]:
status_codes_Notin_LF_CWS = ['91', '92', '93', '94', '95', '97', '98']
Total_Notin_LF_CWS = df_perv1_above15.loc[(df_perv1_above15['Current_weekly_status_CWS'].isin(status_codes_Notin_LF_CWS)),'final_weight'].sum()

print(Total_Notin_LF_CWS)
print(Total_Notin_LF_CWS/df_perv1_above15['final_weight'].sum())

406500522.9175
0.45384483197404624

In [ ]:
Total_attended_educational_institution_CWS = df_perv1_above15.loc[(df_perv1_above15['Current_weekly_status_CWS'] == '91'),'final_weight'].sum()

percent_attended_educational_institution_CWS = (Total_attended_educational_institution_CWS *100)/Total_Notin_LF_CWS
print(round(percent_attended_educational_institution_CWS,1))

26.4

In [ ]:
Total_attended_domestic_duties_only_CWS = df_perv1_above15.loc[(df_perv1_above15['Current_weekly_status_CWS'] == '92'),'final_weight'].sum()

percent_attended_domestic_duties_only_CWS = (Total_attended_domestic_duties_only_CWS*100)/Total_Notin_LF_CWS
print(round(percent_attended_domestic_duties_only_CWS,1))

38.1

In [ ]:
Total_attended_domestic_duties_and_engaged_in_free_collection_of_goods_CWS = df_perv1_above15.loc[(df_perv1_above15['Current_weekly_status_CWS'] == '93'),'final_weight'].sum()

percent_attended_domestic_duties_and_engaged_in_free_collection_of_goods_CWS = (Total_attended_domestic_duties_and_engaged_in_free_collection_of_goods_CWS*100)/Total_Notin_LF_CWS

print(round(percent_attended_domestic_duties_and_engaged_in_free_collection_of_goods_CWS,1))

19.5

In [ ]:
Total_rentiers_pensioners_remmitance_receipients_CWS = df_perv1_above15.loc[(df_perv1_above15['Current_weekly_status_CWS'] == '94'),'final_weight'].sum()

percent_rentiers_pensioners_remmitance_receipients_CWS = (Total_rentiers_pensioners_remmitance_receipients_CWS*100)/Total_Notin_LF_CWS

print(round(percent_rentiers_pensioners_remmitance_receipients_CWS,1))

10.6

In [ ]:
Total_not_able_to_work_due_to_disability_CWS = df_perv1_above15.loc[(df_perv1_above15['Current_weekly_status_CWS'] == '95'),'final_weight'].sum()

percent_not_able_to_work_due_to_disability_CWS = (Total_not_able_to_work_due_to_disability_CWS*100)/Total_Notin_LF_CWS
print(round(percent_not_able_to_work_due_to_disability_CWS,1))

2.6

In [ ]:
Total_others_CWS = df_perv1_above15.loc[(df_perv1_above15['Current_weekly_status_CWS'] == '97'),'final_weight'].sum()

percent_others_CWS = (Total_others_CWS*100)/Total_Notin_LF_CWS
print(round(percent_others_CWS,1))

2.5

In [ ]:
Total_did_not_work_due_to_sickness_CWS = df_perv1_above15.loc[(df_perv1_above15['Current_weekly_status_CWS'] == '98'),'final_weight'].sum()

percent_did_not_work_due_to_sickness_CWS = (Total_did_not_work_due_to_sickness_CWS*100)/Total_Notin_LF_CWS
print(round(percent_did_not_work_due_to_sickness_CWS,1))

0.3

### **Current Weekly status: Female**

In [ ]:
status_codes_Notin_LF_CWS = ['91', '92', '93', '94', '95', '97', '98']
Female_Notin_LF_CWS = df_perv1_above15.loc[(df_perv1_above15['Current_weekly_status_CWS'].isin(status_codes_Notin_LF_CWS)) &
                                           (df_perv1_above15['Sex'] == '2'),'final_weight'].sum()

print(Female_Notin_LF_CWS)

304721488.24

In [ ]:
Female_attended_educational_institution_CWS = df_perv1_above15.loc[(df_perv1_above15['Current_weekly_status_CWS'] == '91') &
                                                                   (df_perv1_above15['Sex'] == '2'),'final_weight'].sum()

percent_attended_educational_institution_CWS = (Female_attended_educational_institution_CWS *100)/Female_Notin_LF_CWS
print(round(percent_attended_educational_institution_CWS,1))

15.8

In [ ]:
Female_attended_domestic_duties_only_CWS = df_perv1_above15.loc[(df_perv1_above15['Current_weekly_status_CWS'] == '92') &
                                                                (df_perv1_above15['Sex'] == '2'),'final_weight'].sum()

percent_attended_domestic_duties_only_CWS = (Female_attended_domestic_duties_only_CWS*100)/Female_Notin_LF_CWS
print(round(percent_attended_domestic_duties_only_CWS,1))

49.5

In [ ]:
Female_attended_domestic_duties_and_engaged_in_free_collection_of_goods_CWS = df_perv1_above15.loc[(df_perv1_above15['Current_weekly_status_CWS'] == '93') &
                                                                                                   (df_perv1_above15['Sex'] == '2'),'final_weight'].sum()

percent_attended_domestic_duties_and_engaged_in_free_collection_of_goods_CWS = (Female_attended_domestic_duties_and_engaged_in_free_collection_of_goods_CWS*100)/Female_Notin_LF_CWS

print(round(percent_attended_domestic_duties_and_engaged_in_free_collection_of_goods_CWS,1))

25.7

In [ ]:
Female_rentiers_pensioners_remmitance_receipients_CWS = df_perv1_above15.loc[(df_perv1_above15['Current_weekly_status_CWS'] == '94') &
                                                                             (df_perv1_above15['Sex'] == '2'),'final_weight'].sum()

percent_rentiers_pensioners_remmitance_receipients_CWS = (Female_rentiers_pensioners_remmitance_receipients_CWS*100)/Female_Notin_LF_CWS

print(round(percent_rentiers_pensioners_remmitance_receipients_CWS,1))

6.3

In [ ]:
Female_not_able_to_work_due_to_disability_CWS = df_perv1_above15.loc[(df_perv1_above15['Current_weekly_status_CWS'] == '95') &
                                                                     (df_perv1_above15['Sex'] == '2'),'final_weight'].sum()

percent_not_able_to_work_due_to_disability_CWS = (Female_not_able_to_work_due_to_disability_CWS*100)/Female_Notin_LF_CWS
print(round(percent_not_able_to_work_due_to_disability_CWS,1))

1.2

In [ ]:
Female_others_CWS = df_perv1_above15.loc[(df_perv1_above15['Current_weekly_status_CWS'] == '97') &
                                         (df_perv1_above15['Sex'] == '2'),'final_weight'].sum()

percent_others_CWS = (Female_others_CWS*100)/Female_Notin_LF_CWS
print(round(percent_others_CWS,1))

1.4

In [ ]:
Female_did_not_work_due_to_sickness_CWS = df_perv1_above15.loc[(df_perv1_above15['Current_weekly_status_CWS'] == '98') &
                                                               (df_perv1_above15['Sex'] == '2'),'final_weight'].sum()

percent_did_not_work_due_to_sickness_CWS = (Female_did_not_work_due_to_sickness_CWS*100)/Female_Notin_LF_CWS
print(round(percent_did_not_work_due_to_sickness_CWS,1))

0.1

### **Current Weekly status: male**

In [ ]:
df_perv1_above15['Current_weekly_status_CWS'].unique()

array(['31', '11', '12', '93', '94', '92', '91', '71', '95', '81', '21',
       '51', '97', '62', '98', '42', '61', '82', '72', '41'], dtype=object)

In [ ]:
status_codes_Notin_LF_CWS = ['91', '92', '93', '94', '95', '97', '98']
Male_Notin_LF_CWS = df_perv1_above15.loc[(df_perv1_above15['Current_weekly_status_CWS'].isin(status_codes_Notin_LF_CWS)) &
                                           (df_perv1_above15['Sex'] == '1'),'final_weight'].sum()

print(Male_Notin_LF_CWS)

101772238.88250001

In [ ]:
Male_attended_educational_institution_CWS = df_perv1_above15.loc[(df_perv1_above15['Current_weekly_status_CWS'] == '91') &
                                                                   (df_perv1_above15['Sex'] == '1'),'final_weight'].sum()

percent_attended_educational_institution_CWS = (Male_attended_educational_institution_CWS *100)/Male_Notin_LF_CWS
print(round(percent_attended_educational_institution_CWS,1))

58.1

In [ ]:
Male_attended_domestic_duties_only_CWS = df_perv1_above15.loc[(df_perv1_above15['Current_weekly_status_CWS'] == '92') &
                                                                (df_perv1_above15['Sex'] == '1'),'final_weight'].sum()

percent_attended_domestic_duties_only_CWS = (Male_attended_domestic_duties_only_CWS*100)/Male_Notin_LF_CWS
print(round(percent_attended_domestic_duties_only_CWS,1))

4.0

In [ ]:
Male_attended_domestic_duties_and_engaged_in_free_collection_of_goods_CWS = df_perv1_above15.loc[(df_perv1_above15['Current_weekly_status_CWS'] == '93') &
                                                                                                   (df_perv1_above15['Sex'] == '1'),'final_weight'].sum()

percent_attended_domestic_duties_and_engaged_in_free_collection_of_goods_CWS = (Male_attended_domestic_duties_and_engaged_in_free_collection_of_goods_CWS*100)/Male_Notin_LF_CWS

print(round(percent_attended_domestic_duties_and_engaged_in_free_collection_of_goods_CWS,1))

0.7

In [ ]:
Male_rentiers_pensioners_remmitance_receipients_CWS = df_perv1_above15.loc[(df_perv1_above15['Current_weekly_status_CWS'] == '94') &
                                                                             (df_perv1_above15['Sex'] == '1'),'final_weight'].sum()

percent_rentiers_pensioners_remmitance_receipients_CWS = (Male_rentiers_pensioners_remmitance_receipients_CWS*100)/Male_Notin_LF_CWS

print(round(percent_rentiers_pensioners_remmitance_receipients_CWS,1))

23.7

In [ ]:
Male_not_able_to_work_due_to_disability_CWS = df_perv1_above15.loc[(df_perv1_above15['Current_weekly_status_CWS'] == '95') &
                                                                     (df_perv1_above15['Sex'] == '1'),'final_weight'].sum()

percent_not_able_to_work_due_to_disability_CWS = (Male_not_able_to_work_due_to_disability_CWS*100)/Male_Notin_LF_CWS
print(round(percent_not_able_to_work_due_to_disability_CWS,1))

6.7

In [ ]:
Male_others_CWS = df_perv1_above15.loc[(df_perv1_above15['Current_weekly_status_CWS'] == '97') &
                                         (df_perv1_above15['Sex'] == '1'),'final_weight'].sum()

percent_others_CWS = (Male_others_CWS*100)/Male_Notin_LF_CWS
print(round(percent_others_CWS,1))

5.9

In [ ]:
Male_did_not_work_due_to_sickness_CWS = df_perv1_above15.loc[(df_perv1_above15['Current_weekly_status_CWS'] == '98') &
                                                               (df_perv1_above15['Sex'] == '1'),'final_weight'].sum()

percent_did_not_work_due_to_sickness_CWS = (Male_did_not_work_due_to_sickness_CWS*100)/Male_Notin_LF_CWS
print(round(percent_did_not_work_due_to_sickness_CWS,1))

1.0

# ***Analysis of population not in Labour force(w.r.t total population)***

This analysis has been done (percentage has been calculated using) w.r.t total population as a base rather then population not in labour force. Codes are similar to the previously used amd need no additional explanation.

### **Usual Activity: Total**

In [ ]:
Total_Population = df_perv1_above15['final_weight'].sum()
print(Total_Population)

895681727.055

In [ ]:
Total_attended_educational_institution = df_perv1_above15.loc[(df_perv1_above15['Status_code_princ'] == '91') &
                                                              (df_perv1_above15['Whether_engaged_in_any_work_in_sussidiary_capacity'] != 1),'final_weight'].sum()

percent_attended_educational_institution = (Total_attended_educational_institution *100)/Total_Population
print(round(percent_attended_educational_institution,1))

11.5

In [ ]:
Total_attended_domestic_duties_only = df_perv1_above15.loc[(df_perv1_above15['Status_code_princ'] == '92') &
                                                           (df_perv1_above15['Whether_engaged_in_any_work_in_sussidiary_capacity'] != 1),'final_weight'].sum()

percent_attended_domestic_duties_only = (Total_attended_domestic_duties_only*100)/Total_Population
print(round(percent_attended_domestic_duties_only,1))

15.7

In [ ]:
Total_attended_domestic_duties_and_engaged_in_free_collection_of_goods = df_perv1_above15.loc[(df_perv1_above15['Status_code_princ'] == '93') &
                                                                                              (df_perv1_above15['Whether_engaged_in_any_work_in_sussidiary_capacity'] != 1),'final_weight'].sum()

percent_attended_domestic_duties_and_engaged_in_free_collection_of_goods = (Total_attended_domestic_duties_and_engaged_in_free_collection_of_goods*100)/Total_Population

print(round(percent_attended_domestic_duties_and_engaged_in_free_collection_of_goods,1))

7.5

In [ ]:
Total_rentiers_pensioners_remmitance_receipients = df_perv1_above15.loc[(df_perv1_above15['Status_code_princ'] == '94') &
                                                                        (df_perv1_above15['Whether_engaged_in_any_work_in_sussidiary_capacity'] != 1),'final_weight'].sum()

percent_rentiers_pensioners_remmitance_receipients = (Total_rentiers_pensioners_remmitance_receipients*100)/Total_Population

print(round(percent_rentiers_pensioners_remmitance_receipients,1))

5.1

In [ ]:
Total_not_able_to_work_due_to_disability = df_perv1_above15.loc[(df_perv1_above15['Status_code_princ'] == '95') &
                                                                (df_perv1_above15['Whether_engaged_in_any_work_in_sussidiary_capacity'] != 1),'final_weight'].sum()

percent_not_able_to_work_due_to_disability = (Total_not_able_to_work_due_to_disability*100)/Total_Population
print(round(percent_not_able_to_work_due_to_disability,1))

1.2

In [ ]:
Total_others = df_perv1_above15.loc[(df_perv1_above15['Status_code_princ'] == '97') &
                                    (df_perv1_above15['Whether_engaged_in_any_work_in_sussidiary_capacity'] != 1),'final_weight'].sum()

percent_others = (Total_others*100)/Total_Population
print(round(percent_others,1))

1.1

### **Usual Activity: female**

In [ ]:

female_Total_population = df_perv1_above15.loc[(df_perv1_above15['Sex'] == '2'),'final_weight'].sum()

print(female_Total_population)

445526993.165

In [ ]:
Female_attended_educational_institution = df_perv1_above15.loc[(df_perv1_above15['Status_code_princ'] == '91') &
                                                               (df_perv1_above15['Sex'] == '2') &
                                                               (df_perv1_above15['Whether_engaged_in_any_work_in_sussidiary_capacity'] != 1),'final_weight'].sum()

percent_attended_educational_institution = (Female_attended_educational_institution *100)/female_Total_population
print(round(percent_attended_educational_institution,1))

10.5

In [ ]:
Female_attended_domestic_duties_only = df_perv1_above15.loc[(df_perv1_above15['Status_code_princ'] == '92') &
                                                           (df_perv1_above15['Sex'] == '2') &
                                                            (df_perv1_above15['Whether_engaged_in_any_work_in_sussidiary_capacity'] != 1),'final_weight'].sum()

percent_attended_domestic_duties_only = (Female_attended_domestic_duties_only*100)/female_Total_population
print(round(percent_attended_domestic_duties_only,1))

31.0

In [ ]:
Female_attended_domestic_duties_and_engaged_in_free_collection_of_goods = df_perv1_above15.loc[(df_perv1_above15['Status_code_princ'] == '93') &
                                                                                              (df_perv1_above15['Sex'] == '2') &
                                                                                               (df_perv1_above15['Whether_engaged_in_any_work_in_sussidiary_capacity'] != 1),'final_weight'].sum()

percent_attended_domestic_duties_and_engaged_in_free_collection_of_goods = (Female_attended_domestic_duties_and_engaged_in_free_collection_of_goods*100)/female_Total_population

print(round(percent_attended_domestic_duties_and_engaged_in_free_collection_of_goods,1))

15.0

In [ ]:
Female_rentiers_pensioners_remmitance_receipients = df_perv1_above15.loc[(df_perv1_above15['Status_code_princ'] == '94') &
                                                                        (df_perv1_above15['Sex'] == '2') &
                                                                         (df_perv1_above15['Whether_engaged_in_any_work_in_sussidiary_capacity'] != 1),'final_weight'].sum()

percent_rentiers_pensioners_remmitance_receipients = (Female_rentiers_pensioners_remmitance_receipients*100)/female_Total_population

print(round(percent_rentiers_pensioners_remmitance_receipients,1))

4.8

In [ ]:
Female_not_able_to_work_due_to_disability = df_perv1_above15.loc[(df_perv1_above15['Status_code_princ'] == '95') &
                                                                (df_perv1_above15['Sex'] == '2') &
                                                                 (df_perv1_above15['Whether_engaged_in_any_work_in_sussidiary_capacity'] != 1),'final_weight'].sum()

percent_not_able_to_work_due_to_disability = (Female_not_able_to_work_due_to_disability*100)/female_Total_population
print(round(percent_not_able_to_work_due_to_disability,1))

0.8

In [ ]:
Female_others = df_perv1_above15.loc[(df_perv1_above15['Status_code_princ'] == '97') &
                                    (df_perv1_above15['Sex'] == '2') &
                                     (df_perv1_above15['Whether_engaged_in_any_work_in_sussidiary_capacity'] != 1),'final_weight'].sum()

percent_others = (Female_others*100)/female_Total_population
print(round(percent_others,1))

0.9

### **Usual Activity: Male**

In [ ]:
Male_Total_population = df_perv1_above15.loc[(df_perv1_above15['Sex'] == '1'),'final_weight'].sum()

print(Male_Total_population)

450130233.93499994

In [ ]:
Male_attended_educational_institution = df_perv1_above15.loc[(df_perv1_above15['Status_code_princ'] == '91') &
                                                               (df_perv1_above15['Sex'] == '1') &
                                                             (df_perv1_above15['Whether_engaged_in_any_work_in_sussidiary_capacity'] != 1),'final_weight'].sum()

percent_attended_educational_institution = (Male_attended_educational_institution *100)/Male_Total_population
print(round(percent_attended_educational_institution,1))
print(Male_attended_educational_institution)

12.5
56472165.21124999

In [ ]:
Male_attended_domestic_duties_only = df_perv1_above15.loc[(df_perv1_above15['Status_code_princ'] == '92') &
                                                           (df_perv1_above15['Sex'] == '1') &
                                                          (df_perv1_above15['Whether_engaged_in_any_work_in_sussidiary_capacity'] != 1),'final_weight'].sum()

percent_attended_domestic_duties_only = (Male_attended_domestic_duties_only*100)/Male_Total_population
print(round(percent_attended_domestic_duties_only,1))

0.7

In [ ]:
Male_attended_domestic_duties_and_engaged_in_free_collection_of_goods = df_perv1_above15.loc[(df_perv1_above15['Status_code_princ'] == '93') &
                                                                                              (df_perv1_above15['Sex'] == '1') &
                                                                                             (df_perv1_above15['Whether_engaged_in_any_work_in_sussidiary_capacity'] != 1),'final_weight'].sum()

percent_attended_domestic_duties_and_engaged_in_free_collection_of_goods = (Male_attended_domestic_duties_and_engaged_in_free_collection_of_goods*100)/Male_Total_population

print(round(percent_attended_domestic_duties_and_engaged_in_free_collection_of_goods,1))

0.1

In [ ]:
Male_rentiers_pensioners_remmitance_receipients = df_perv1_above15.loc[(df_perv1_above15['Status_code_princ'] == '94') &
                                                                        (df_perv1_above15['Sex'] == '1') &
                                                                       (df_perv1_above15['Whether_engaged_in_any_work_in_sussidiary_capacity'] != 1),'final_weight'].sum()

percent_rentiers_pensioners_remmitance_receipients = (Male_rentiers_pensioners_remmitance_receipients*100)/Male_Total_population

print(round(percent_rentiers_pensioners_remmitance_receipients,1))

5.4

In [ ]:
Male_not_able_to_work_due_to_disability = df_perv1_above15.loc[(df_perv1_above15['Status_code_princ'] == '95') &
                                                                (df_perv1_above15['Sex'] == '1') &
                                                               (df_perv1_above15['Whether_engaged_in_any_work_in_sussidiary_capacity'] != 1),'final_weight'].sum()

percent_not_able_to_work_due_to_disability = (Male_not_able_to_work_due_to_disability*100)/Male_Total_population
print(round(percent_not_able_to_work_due_to_disability,1))

1.5

In [ ]:
Male_others = df_perv1_above15.loc[(df_perv1_above15['Status_code_princ'] == '97') &
                                    (df_perv1_above15['Sex'] == '1') &
                                   (df_perv1_above15['Whether_engaged_in_any_work_in_sussidiary_capacity'] != 1),'final_weight'].sum()

percent_others = (Male_others*100)/Male_Total_population
print(round(percent_others,1))

1.3

### **Current Weekly status: Total**

In [ ]:
Total_attended_educational_institution_CWS = df_perv1_above15.loc[(df_perv1_above15['Current_weekly_status_CWS'] == '91'),'final_weight'].sum()

percent_attended_educational_institution_CWS = (Total_attended_educational_institution_CWS *100)/Total_Population
print(round(percent_attended_educational_institution_CWS,1))

12.0

In [ ]:
Total_attended_domestic_duties_only_CWS = df_perv1_above15.loc[(df_perv1_above15['Current_weekly_status_CWS'] == '92'),'final_weight'].sum()

percent_attended_domestic_duties_only_CWS = (Total_attended_domestic_duties_only_CWS*100)/Total_Population
print(round(percent_attended_domestic_duties_only_CWS,1))

17.3

In [ ]:
Total_attended_domestic_duties_and_engaged_in_free_collection_of_goods_CWS = df_perv1_above15.loc[(df_perv1_above15['Current_weekly_status_CWS'] == '93'),'final_weight'].sum()

percent_attended_domestic_duties_and_engaged_in_free_collection_of_goods_CWS = (Total_attended_domestic_duties_and_engaged_in_free_collection_of_goods_CWS*100)/Total_Population

print(round(percent_attended_domestic_duties_and_engaged_in_free_collection_of_goods_CWS,1))

8.8

In [ ]:
Total_rentiers_pensioners_remmitance_receipients_CWS = df_perv1_above15.loc[(df_perv1_above15['Current_weekly_status_CWS'] == '94'),'final_weight'].sum()

percent_rentiers_pensioners_remmitance_receipients_CWS = (Total_rentiers_pensioners_remmitance_receipients_CWS*100)/Total_Population

print(round(percent_rentiers_pensioners_remmitance_receipients_CWS,1))

4.8

In [ ]:
Total_not_able_to_work_due_to_disability_CWS = df_perv1_above15.loc[(df_perv1_above15['Current_weekly_status_CWS'] == '95'),'final_weight'].sum()

percent_not_able_to_work_due_to_disability_CWS = (Total_not_able_to_work_due_to_disability_CWS*100)/Total_Population
print(round(percent_not_able_to_work_due_to_disability_CWS,1))

1.2

In [ ]:
Total_others_CWS = df_perv1_above15.loc[(df_perv1_above15['Current_weekly_status_CWS'] == '97'),'final_weight'].sum()

percent_others_CWS = (Total_others_CWS*100)/Total_Population
print(round(percent_others_CWS,1))

1.1

In [ ]:
Total_did_not_work_due_to_sickness_CWS = df_perv1_above15.loc[(df_perv1_above15['Current_weekly_status_CWS'] == '98'),'final_weight'].sum()

percent_did_not_work_due_to_sickness_CWS = (Total_did_not_work_due_to_sickness_CWS*100)/Total_Population
print(round(percent_did_not_work_due_to_sickness_CWS,1))

0.2

### **Current Weekly status: Female**

In [ ]:
female_Total_population = df_perv1_above15.loc[(df_perv1_above15['Sex'] == '2'),'final_weight'].sum()

print(female_Total_population)

445526993.165

In [ ]:
Female_attended_educational_institution_CWS = df_perv1_above15.loc[(df_perv1_above15['Current_weekly_status_CWS'] == '91') &
                                                                   (df_perv1_above15['Sex'] == '2'),'final_weight'].sum()

percent_attended_educational_institution_CWS = (Female_attended_educational_institution_CWS *100)/female_Total_population
print(round(percent_attended_educational_institution_CWS,1))

10.8

In [ ]:
Female_attended_domestic_duties_only_CWS = df_perv1_above15.loc[(df_perv1_above15['Current_weekly_status_CWS'] == '92') &
                                                                (df_perv1_above15['Sex'] == '2'),'final_weight'].sum()

percent_attended_domestic_duties_only_CWS = (Female_attended_domestic_duties_only_CWS*100)/female_Total_population
print(round(percent_attended_domestic_duties_only_CWS,1))

33.8

In [ ]:
Female_attended_domestic_duties_and_engaged_in_free_collection_of_goods_CWS = df_perv1_above15.loc[(df_perv1_above15['Current_weekly_status_CWS'] == '93') &
                                                                                                   (df_perv1_above15['Sex'] == '2'),'final_weight'].sum()

percent_attended_domestic_duties_and_engaged_in_free_collection_of_goods_CWS = (Female_attended_domestic_duties_and_engaged_in_free_collection_of_goods_CWS*100)/female_Total_population

print(round(percent_attended_domestic_duties_and_engaged_in_free_collection_of_goods_CWS,1))

17.6

In [ ]:
Female_rentiers_pensioners_remmitance_receipients_CWS = df_perv1_above15.loc[(df_perv1_above15['Current_weekly_status_CWS'] == '94') &
                                                                             (df_perv1_above15['Sex'] == '2'),'final_weight'].sum()

percent_rentiers_pensioners_remmitance_receipients_CWS = (Female_rentiers_pensioners_remmitance_receipients_CWS*100)/female_Total_population

print(round(percent_rentiers_pensioners_remmitance_receipients_CWS,1))

4.3

In [ ]:
Female_not_able_to_work_due_to_disability_CWS = df_perv1_above15.loc[(df_perv1_above15['Current_weekly_status_CWS'] == '95') &
                                                                     (df_perv1_above15['Sex'] == '2'),'final_weight'].sum()

percent_not_able_to_work_due_to_disability_CWS = (Female_not_able_to_work_due_to_disability_CWS*100)/female_Total_population
print(round(percent_not_able_to_work_due_to_disability_CWS,1))

0.8

In [ ]:
Female_others_CWS = df_perv1_above15.loc[(df_perv1_above15['Current_weekly_status_CWS'] == '97') &
                                         (df_perv1_above15['Sex'] == '2'),'final_weight'].sum()

percent_others_CWS = (Female_others_CWS*100)/female_Total_population
print(round(percent_others_CWS,1))

0.9

In [ ]:
Female_did_not_work_due_to_sickness_CWS = df_perv1_above15.loc[(df_perv1_above15['Current_weekly_status_CWS'] == '98') &
                                                               (df_perv1_above15['Sex'] == '2'),'final_weight'].sum()

percent_did_not_work_due_to_sickness_CWS = (Female_did_not_work_due_to_sickness_CWS*100)/female_Total_population
print(round(percent_did_not_work_due_to_sickness_CWS,1))

0.1

### **Current Weekly status: Male**

In [ ]:
Male_Total_population = df_perv1_above15.loc[(df_perv1_above15['Sex'] == '1'),'final_weight'].sum()

print(Male_Total_population)

450130233.93499994

In [ ]:
Male_attended_educational_institution_CWS = df_perv1_above15.loc[(df_perv1_above15['Current_weekly_status_CWS'] == '91') &
                                                                   (df_perv1_above15['Sex'] == '1'),'final_weight'].sum()

percent_attended_educational_institution_CWS = (Male_attended_educational_institution_CWS *100)/Male_Total_population
print(round(percent_attended_educational_institution_CWS,1))

13.1

In [ ]:
Male_attended_domestic_duties_only_CWS = df_perv1_above15.loc[(df_perv1_above15['Current_weekly_status_CWS'] == '92') &
                                                                (df_perv1_above15['Sex'] == '1'),'final_weight'].sum()

percent_attended_domestic_duties_only_CWS = (Male_attended_domestic_duties_only_CWS*100)/Male_Total_population
print(round(percent_attended_domestic_duties_only_CWS,1))

0.9

In [ ]:
Male_attended_domestic_duties_and_engaged_in_free_collection_of_goods_CWS = df_perv1_above15.loc[(df_perv1_above15['Current_weekly_status_CWS'] == '93') &
                                                                                                   (df_perv1_above15['Sex'] == '1'),'final_weight'].sum()

percent_attended_domestic_duties_and_engaged_in_free_collection_of_goods_CWS = (Male_attended_domestic_duties_and_engaged_in_free_collection_of_goods_CWS*100)/Male_Total_population

print(round(percent_attended_domestic_duties_and_engaged_in_free_collection_of_goods_CWS,1))

0.2

In [ ]:
Male_rentiers_pensioners_remmitance_receipients_CWS = df_perv1_above15.loc[(df_perv1_above15['Current_weekly_status_CWS'] == '94') &
                                                                             (df_perv1_above15['Sex'] == '1'),'final_weight'].sum()

percent_rentiers_pensioners_remmitance_receipients_CWS = (Male_rentiers_pensioners_remmitance_receipients_CWS*100)/Male_Total_population

print(round(percent_rentiers_pensioners_remmitance_receipients_CWS,1))

5.3

In [ ]:
Male_not_able_to_work_due_to_disability_CWS = df_perv1_above15.loc[(df_perv1_above15['Current_weekly_status_CWS'] == '95') &
                                                                     (df_perv1_above15['Sex'] == '1'),'final_weight'].sum()

percent_not_able_to_work_due_to_disability_CWS = (Male_not_able_to_work_due_to_disability_CWS*100)/Male_Total_population
print(round(percent_not_able_to_work_due_to_disability_CWS,1))

1.5

In [ ]:
Male_others_CWS = df_perv1_above15.loc[(df_perv1_above15['Current_weekly_status_CWS'] == '97') &
                                         (df_perv1_above15['Sex'] == '1'),'final_weight'].sum()

percent_others_CWS = (Male_others_CWS*100)/Male_Total_population
print(round(percent_others_CWS,1))

1.3

In [ ]:
Male_did_not_work_due_to_sickness_CWS = df_perv1_above15.loc[(df_perv1_above15['Current_weekly_status_CWS'] == '98') &
                                                               (df_perv1_above15['Sex'] == '1'),'final_weight'].sum()

percent_did_not_work_due_to_sickness_CWS = (Male_did_not_work_due_to_sickness_CWS*100)/Male_Total_population
print(round(percent_did_not_work_due_to_sickness_CWS,1))

0.2